<title>Donate | AnyKey</title>
<meta name="description" content="Our non-profit organization relies on your donations to achieve our mission. We appreciate each and every bit of support.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Donate | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Our non-profit organization relies on your donations to achieve our mission. We appreciate each and every bit of support.">
<meta property="og:image"        content="<%= asset_url("/images/donate-preview.jpg") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Donate | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Our non-profit organization relies on your donations to achieve our mission. We appreciate each and every bit of support.">
<meta name="twitter:image"       content="<%= asset_url("/images/donate-preview.jpg") %>">
<meta name="twitter:card"        content="summary_large_image">