<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="row-title flexbox horizontal center">
      <%= comment.commenter.display_name %>
    </div>
    <div class="flexbox horizontal center">
      <div class="row-detail">
        <%= time_ago_in_words(comment.posted_on) + " ago" %>
      </div>
    </div>
  </div>
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="row-subtitle small flexbox horizontal center">
      <em><%= comment.body %></em>
    </div>
  </div>
</div>
