<% if @pledge.twitch_id.blank? %>
<span class="gray status">Not Activated</span>
<% elsif @pledge.revoked_on.blank? %>
<span class="green status">Activated on <%= l(@pledge.twitch_authed_on, format: "%b. %-d, %Y") %></span>
<% else %>
<span class="red status">Revoked on <%= l(@pledge.revoked_on, format: "%b. %-d, %Y") %></span>
<% end %>