<div class="row flexbox vertical stretch">
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="title"><%= pledge.display_name %></div>
    <div class="detail"><%= pledge.referrals_count %></div>
  </div>
</div>