<title>GLHF Pledge | AnyKey</title>
<meta name="description" content="Good luck, have fun. Make gaming inclusive for everyone.">
<meta name="keywords" content="esports, gaming, livestreaming, diversity, inclusion, equity">

<meta property="og:title"        content="GLHF Pledge | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Good luck, have fun. Make gaming inclusive for everyone.">
<meta property="og:image"        content="<%= asset_url("/images/glhf-pledge-preview.jpg") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="GLHF Pledge | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Good luck, have fun. Make gaming inclusive for everyone.">
<meta name="twitter:image"       content="<%= asset_url("/images/glhf-pledge-preview.jpg") %>">
<meta name="twitter:card"        content="summary_large_image">