<div id="pledge" class="flexbox vertical center">
  <div class="page-section narrow flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title">
        <%= t(".title") %>
      </div>
      <div class="flexbox vertical start flex-1">
        <p><%= t(".text", href: link_to(t(".link-text"), contact_path, class: "inline")).html_safe %></p>
        <%= render(partial: "pledges/social_share") %>
        <%= render(partial: "pledges/twitch_instructions") %>
      </div>
    </div>
  </div>
</div>  
<script>
  gtag('event', 'SuccesView', {'event_category': 'Pledge', 'event_label': 'NewBadged'});
</script>