<div id="pledge" class="flexbox vertical center">
  <div class="page-section narrow flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title">
        <%= t(".title") %>
      </div>
      <div class="flexbox vertical stretch">
        <p><%= t(".text") %></p>
        <%= render(partial: "pledges/twitch_auth", locals: { pledge: @pledge }) %>
        <%= render(partial: "pledges/social_share") %>
      </div>
    </div>
  </div>
</div>  
<script>
  gtag('event', 'SuccesView', {'event_category': 'Pledge', 'event_label': 'NewBadgeless'});
</script>
