<div class="button-wrap flexbox vertical">
  <%= link_to(t(".twitch-button"), "#{ENV['TWITCH_API_BASE_URL']}/oauth2/authorize?client_id=#{ENV['TWITCH_CLIENT_ID']}&redirect_uri=http://anykey.herokuapp.com/pledge&response_type=code&scope=user_read&state=#{pledge.identifier}", class: 'twitch-button button') %>
</div>