<div class="twitch-instructions flexbox vertical start">
  <strong>Equipping your badge on Twitch:</strong>
  <ol>
    <li><%= t('.text-a') %></li>
    <li><%= t('.text-b') %></li>
    <li><%= t('.text-c') %></li>
    <li><%= t('.text-d') %></li>
  </ol>
</div>