<div id="pledge" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">    
      <div id="tapestry">
        <div class="flexbox vertical center">
          <div class="title-line-a">
            glhf
          </div>
          <div class="title-line-b">
            PLEDGE
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Good luck, have fun.<br>
        Make gaming inclusive for everyone.
      </div>  
      <div class="flexbox horizontal center wrap justify-space-around">    
        <div class="half-width">
          <p>Video games and esports should be welcoming and inclusive to all. Diverse player communities are more fun and more competitive.</p>
          <p>We invite you to join us in creating a gaming ecosystem that welcomes everyone and includes all, no matter their shape, size, color, gender, background, disability, or beliefs.</p>
          <p>By taking this pledge, you promise to make a difference as a positive and inclusive citizen in your own gaming spaces.</p>
        </div>
        <div class="trailer-video">
          <div class="framed-element">
            <div class="embed-wrapper">
              <iframe src="https://www.youtube.com/embed/tvbBQPOJF7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <%= render(partial: "pledges/form") %>
</div>  
