<div id="pledge" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">    
      <div id="tapestry">
        <div class="flexbox vertical center">
          <div class="title-line-a">
            glhf
          </div>
          <div class="title-line-b">
            PLEDGE
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render(partial: "pledges/form") %>
</div>  
