<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Pledges</div>
        <%= link_to("Public Page", new_pledge_path, class: "stealth") %>
      </div>
      <div class="records-list flexbox vertical stretch">
        <% if @pledges.present? %>
          <%= render(partial: "pledges/row", collection: @pledges, as: :pledge) %>
          <div class="flexbox vertical center">
            <%= will_paginate @pledges, class: "pagination full flexbox horizontal", previous_label: "« PREV", next_label: "NEXT »", inner_window: 3, outer_window: 0  %>
            <%= will_paginate @pledges, class: "pagination mini flexbox horizontal justify-space-between", previous_label: "« PREV", next_label: "NEXT »", page_links: false  %>
          </div>
        <% else %>
        <div class="empty">
          No pledges found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
