<div id="pledge" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">    
      <div id="tapestry">
        <div class="title-line-a">
          glhf
        </div>
        <div class="title-line-b">
          PLEDGE
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Good luck, have fun.<br>
        Make gaming inclusive for everyone.
      </div>  
      <div class="flexbox horizontal center wrap-reverse justify-space-around">    
        <div class="half-width flexbox vertical flex-1">
          <p>Video games and esports should be welcoming and inclusive to all. Diverse player communities are more fun and more competitive.</p>
          <p>We invite you to join us in creating a gaming ecosystem that welcomes everyone and includes all, no matter their shape, size, color, gender, background, disability, or beliefs.</p>
          <p>By taking this pledge, you promise to make a difference as a positive and inclusive citizen in your own gaming spaces.</p>
        </div>
        <div class="trailer-video flexbox vertical flex-1">
          <div class="framed-element">
            <div class="embed-wrapper">
              <iframe src="https://www.youtube.com/embed/tvbBQPOJF7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="glhf-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
        
          <div class="flexbox horizontal wrap center justify-space-around">
            <div class="half-width flexbox vertical start">
              <div class="section-title">GLHF is a promise to...</div>
              <div class="promise-list">
                <div class="promise flexbox horizontal center">
                  <div class="number">1</div>
                  <div class="text">Be a good sport whether I win or lose</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">2</div>
                  <div class="text">Remember that people online are still real people</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">3</div>
                  <div class="text">Know that my actions and words can have real impact</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">4</div>
                  <div class="text">Speak up against hate speech, harassment, abuse, and assault of any kind</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">5</div>
                  <div class="text">Show integrity by respecting the rules, opponents, and my teammates</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">6</div>
                  <div class="text">Stop, listen, and reassess if I’m told that my words or actions are harmful</div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">7</div>
                  <div class="text">Respect the sincere opinions of others, even if they're different from my own</div>
                </div>
              </div>
            </div>
            <div class="flexbox vertical start">
              <%= render(partial: "pledges/form") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>  
