<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="login-box flexbox vertical stretch">
      <%= render(partial: "users/sessions/form") %>
    </div>
  </div>
</div>
