<div class="faq-section flexbox vertical stretch">

  <div class="faq-item odd flexbox vertical stretch">
    <div class="faq-question">
      What is your question?
    </div>
    <div class="faq-answer">
      This is the answer.
    </div>
  </div>
  
  <div class="faq-item even flexbox vertical stretch">
    <div class="faq-question">
      What is your next question?
    </div>
    <div class="faq-answer">
      This is the next answer.
    </div>
  </div>
  
</div>