<div class="faq-section flexbox vertical stretch">
  <% (1..16).each do |i| %>
    <div class="faq-item <%= cycle "odd", "even", name: "item-cycler" %> flexbox vertical stretch">
      <div class="question">
        <%= t(".question-#{i}").html_safe %>
      </div>
      <div class="answer">
        <%= t(".answer-#{i}").html_safe %>
      </div>
    </div>
  <% end %>
</div>
