<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch" data-url="<%= verification_path(verification, back: request.fullpath) %>">
  <% if verification.pending? %>
  <%= render(partial: "verifications/row_pending", locals: {verification: verification}) %>
  <% else %>
  <%= render(partial: "verifications/row_reviewed", locals: {verification: verification}) %>  
  <% end %>
</div>  
  
  
  



