<div class="flexbox horizontal center wrap justify-space-between">
  <div class="row-title">
    <%= verification.full_name %>
  </div>
  <div class="row-detail <%= verification.status %> flexbox horizontal center">
    <%= Verification::STATUSES[verification.status.to_sym].upcase %>
  </div>
</div>
<div class="flexbox vertical end justify-space-between">
  <div class="row-subdetail">
    <%= l(verification.reviewed_on, format: "%b. %-d, %Y") %>
  </div>
</div>