<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <% if @verification.pending? %>
      <%= render(partial: "verifications/show_pending") %>
      <% else %>
      <%= render(partial: "verifications/show_reviewed") %>  
      <% end %>
    </div>
  </div>
</div>
