<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="session-box flexbox vertical start">
      I am the reports
    </div>
  </div>
</div>
