<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="session-box flexbox vertical start">
      
        <div class="filters horizontal center">
          <% Report::AVAILABLE_SCOPES.each do |filter| %>
            <% if @filter_category.to_s == filter[0].to_s %>
              <%= link_to("#{filter[1]} [#{@reports.count}]", staff_reports_path(f: filter[0]), class: "filter selected") %>
            <% else %>
             <%= link_to(filter[1], staff_reports_path(f: filter[0]), class: "filter") %>
            <% end %>
          <% end %>
        </div>
        <p></p>
        
        <div class="vertical start">
          <% if @reports.present? %>
          <ul>
            <%= render(partial: "staff/report_list_item", collection: @reports, as: :report) %>
          </ul>  
          <% else %>
          <div class="empty">
            No reports found.
          </div>
          <% end %>
        </div>
            
    </div>
  </div>
</div>
