<div id="footer" class="flexbox vertical center">
  <div id="footer-content" class="flexbox horizontal center">
    <div class="left">
      AnyKey is Win
    </div>
    <div class="flexbox vertical end flex-1">
      <div class="right flexbox horizontal center">
        Footer is You
      </div>
    </div>
  </div>
</div>
</div>