<title>AnyKey</title>
<meta name="description" content="AnyKey is an advocacy organization that supports diversity, inclusion, and equity in competitive gaming.">
<meta name="keywords" content="esports, gaming, livestreaming, diversity, inclusion, equity">

<meta property="og:title"        content="AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="AnyKey is an advocacy organization that supports diversity, inclusion, and equity in competitive gaming.">
<meta property="og:image"        content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="AnyKey is an advocacy organization that supports diversity, inclusion, and equity in competitive gaming.">
<meta name="twitter:image"       content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta name="twitter:card"        content="summary_large_image">