Hey <%= @pledge.first_name %>,
<br><br>
Thank you for taking the GLHF pledge!
<br><br>
We're excited that you're ready to help make your online gaming spaces more inclusive for everyone. So you don't forget, we're sending you a reminder that you've made a promise to...
<ol>
<li>Be a good sport whether you win or lose</li>
<li>Know that people online are real people and your words have real impact</li>
<li>Set a positive example with your behavior</li>
<li>Speak up against discrimination, hate speech, harassment, and abuse</li>
<li>Show integrity by honoring the rules, your opponents, and your teammates</li>
<li>Stop, listen, and reassess if you're told that your words or actions are harmful</li>
<li>Respect others, even if their sincere opinions are different from your own</li>
</ol>
You have agreed to play by these seven rules and to hold other pledge-takers to the same standard. That means you will stand up, speak out, and report when you see harassment and discrimination happening in your communities.
<br><br>
If you see someone sporting the badge causing trouble, please <%= link_to("file a report", short_report_url(locale: nil)) %> so that our ComfyCrew can review the situation.
<br><br>
If you are ready to go above and beyond, share this unique referral link with your community: <%= link_to(glhf_url(params: {ref: @pledge.identifier}, locale: nil), glhf_url(params: {ref: @pledge.identifier}, locale: nil)) %>
<br><br>
You'll earn a point for each person you recruit to sign the pledge. But if you want to make it to the top of the leaderboard, you'll have to contend with all the other gamers out there striving to be the most inclusive. Ready for the challenge?
<br><br>
Good Luck, Have Fun!
