<div id="home" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey advocates
          </div>
          <div class="line-b">
            for diversity and inclusion in gaming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
        Anybody is welcome,<br>everybody should be represented.
      </div>
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <%= image_tag("/images/home-feature-a.jpg", class: "framed-element feature-image") %>
        <div class="intro-section flexbox vertical flex-1">
          <p>AnyKey was created to foster change and empower the champions who are making a difference in competitive gaming.</p>
          <p>Through our innovative and impactful programs we are working to build a more inclusive and accessible esports world for all.</p>
        </div>
      </div>
    </div>
  </div>
  



  <div id="glhf-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="section-title">GLHF Pledge</div>
          <p><strong>Pledge callout</strong><br>(probably the trailer + link to pledge page)</p>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="goal-section">
          <div class="subsection-title">Diversity</div>
          <p>Increase the percentage of marginalized people represented and participating in competitive gaming.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Inclusion</div>
          <p>Improve the quality of meaningful participation In gaming spaces for members of marginalized groups.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Equity</div>
          <p>Create and provide new opportunities and resources for marginalized gamers, casters, and streamers.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id="tbd-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="section-title">TBD</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/amplify-icon.svg") %>
          <div class="subsection-title">Amplify</div>
        </div>
          <p>Highlight those blazing a trail in the gaming community through content, spotlights, videos, articles, and tournaments.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/connect-icon.svg") %>
            <div class="subsection-title">Connect</div>
          </div>
          <p>Create meaningful opportunities for under- represented groups to meet and network at some of the country’s largest gaming events.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/empower-icon.svg") %>
            <div class="subsection-title">Empower</div>
          </div>
          <p>Advance a more positive gaming community through social initiatives and the creation of educational tools and research.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="about-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div id="about-inner" class="inner flexbox vertical stretch">
          <div class="section-title">About AnyKey</div>
          <p><strong>About teaser</strong><br>(some key info + link to about page)</p>      
        </div>
      </div>
    </div>
  </div>
  
  
  
  
</div>