<div id="home" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey advocates
          </div>
          <div class="line-b">
            for diversity and inclusion in gaming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Anybody is welcome,<br>everybody should be represented.
      </div>
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="intro-section flexbox vertical flex-1">          
          <p>Intro/mission</p>
          <p>Pledge callout (probably the trailer + link to pledge page)</p>
          <p>Stats (need to determine our baseline diversity state of the world stats)</p>
          <p>Goals (need to determine how much we want those needles to move)</p>
          <p>Approach/pillars (design new icons for pillars)</p>
          <p>About teaser (some key info + link to about page)</p>
          <hr style="  background-color: var(--black-color); border: none; height: 4px; width: 100%; margin-top: 2em; margin-bottom: 2em;">
          <p>Our mission is to substantially increase diversity, inclusion, and equity in competitive gaming.</p>
          
          
        </div>
      </div>
    </div>
  </div>
</div>