<div id="home" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey advocates
          </div>
          <div class="line-b">
            for diversity and inclusion in gaming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      Homepage text
    </div>
  </div>
</div>