<div id="home" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey advocates
          </div>
          <div class="line-b">
            for diversity and inclusion in gaming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Anybody is welcome,<br>everybody should be represented.
      </div>
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="intro-section flexbox vertical flex-1">          
          <p><strong>Intro/mission</strong></p>
          <p>Our mission is to substantially increase diversity, inclusion, and equity in competitive gaming.</p>
          <p>Our organization was created to foster change and empower the champions who are making a difference everyday through innovative and impactful programs which build a more inclusive and accessible esports world for all.</p>
          
          <hr class="spacer">
          
          <p><strong>Pledge callout (probably the trailer + link to pledge page)</strong></p>
          
          <hr class="spacer">
          
          <p><strong>Stats (need to determine our baseline diversity state of the world stats)</strong></p>
          
          <hr class="spacer">
          
          <p><strong>Goals (need to determine how much we want those needles to move)</strong></p>
          <p>Diversity Goal</p>
          <p>Increase the percentage of marginalized people represented and participating in competitive gaming.</p>
          <p>Inclusion Goal</p>
          <p>Improve the quality of meaningful participation In gaming spaces for members of marginalized groups.</p>
          <p>Equity Goal</p>
          <p>Create and provide new opportunities and resources for marginalized gamers, casters, and streamers.</p>
          
          <hr class="spacer">
          
          <p><strong>Approach/pillars (design new icons for pillars)</strong></p>
          <p>Amplify</p>
          <p>Highlight those blazing a trail in the gaming community through content, spotlights, videos, articles, and tournaments.</p>
          <p>Connect</p>
          <p>Create meaningful opportunities for under- represented groups to meet and network at some of the country’s largest gaming events.</p>
          <p>Empower</p>
          <p>Advance a more positive gaming community through social initiatives and the creation of educational tools and research.</p>
          
          <hr class="spacer">
          
          <p><strong>About teaser (some key info + link to about page)</strong></p>
          
        </div>
      </div>
    </div>
  </div>
</div>