<div id="home" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey is an<br>
            advocacy organization
          </div>
          <div class="line-b">
            Supporting diverse participation<br>
            in competitive gaming.
          </div>
        </div>  
      </div>  
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      Homepage text
    </div>
  </div>
</div>