<title>Competitor Concern | AnyKey</title>
<meta name="description" content="Share a concern if you encounter a troublesome competitor in an event for marginalized genders requiring AnyKey eligibility certification.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Competitor Concern | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Share a concern if you encounter a troublesome competitor in an event for marginalized genders requiring AnyKey eligibility certification.">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Competitor Concern | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Share a concern if you encounter a troublesome competitor in an event for marginalized genders requiring AnyKey eligibility certification.">