<div id="concern" class="flexbox vertical center">
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <%= render(partial: "concerns/form") %>
    </div>
  </div>
</div>  
