<title>Changemakers | AnyKey</title>
<meta name="description" content="AnyKey awarded a $5,000 grant to the EGD Collective, a group working to make gaming more diverse and inclusive. Learn more about our 2020 Changemaker and the impact of their work.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Changemakers | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="AnyKey awarded a $5,000 grant to the EGD Collective, a group working to make gaming more diverse and inclusive. Learn more about our 2020 Changemaker and the impact of their work.">
<meta property="og:image"        content="<%= asset_url("/images/changemakers-preview.png") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Changemakers | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="AnyKey awarded a $5,000 grant to the EGD Collective, a group working to make gaming more diverse and inclusive. Learn more about our 2020 Changemaker and the impact of their work.">
<meta name="twitter:image"       content="<%= asset_url("/images/changemakers-preview.png") %>">
<meta name="twitter:card"        content="summary_large_image">