<div id="changemakers" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            <%= image_tag("/images/changemakers.svg", class: "logo-image") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
       Congratulations to our inaugural Changemaker
      </div>
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="intro-section flexbox vertical flex-1">
          <p>During the summer of 2020 we launched a new program to directly support a Changemaker working to make gaming more diverse and inclusive.</p>
          <p>AnyKey is excited to introduce the Esports and Game Design Collective, the recipient of the inaugural $5k grant! Thanks to sponsorship from the U.S. Air Force, the EGD Collective will be able to expand the impact of their work.</p>
          <p><strong>TODO:</strong> Here we will provide a brief bio of the winner that includes their title, affiliation, and speciality.</p>
        </div>
        <%= image_tag("/images/changemakers-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="bio-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox horizontal center wrap-reverse justify-space-around">
          <%= image_tag("/images/changemakers-profile-a.png", class: "framed-element profile-image") %>
          <div class="bio-subsection flexbox vertical stretch">
            <div class="section-title">What is the Esports and Games Design Collective?</div>
            <div class="flexbox vertical">
              <p>The EGD Collective is an organization dedicated to removing barriers in games communities and making games a more accessible academic and career opportunity for all, through the power of public higher
education.</p>
              <p>EGD provides free events, educational programming, and support systems to help students and young industry professionals navigate through academic, financial, and emotional crises - ensuring students can complete their education and are prepared to establish healthy workplace boundaries in whichever field they choose.</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div id="impact-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="impact-subsection flexbox vertical start">
            <div class="section-title">How is the EGD Collective advancing diversity & inclusion in gaming?</div>
            <div class="flexbox vertical flex-1">
              <p>In the past year, we served over 2,500 students from 52 colleges at our flagship location within Hunter College. Over 300 students discovered their career path through our programs, more than 200 students
took advantage of our crisis resources, and 32 were directly prevented from dropping out or getting academically dismissed.</p>
              <p>Although our future plans are to support public institutions across the country, we are starting with the CUNY system, where 80% of students are BIPOC, 61% experience food/housing insecurity or homelessness, 24%&nbsp;graduate in 4 years, and 12% participate in a paid internship.</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretcg">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap-reverse justify-space-between">
        <div class="plans-subsection flexbox vertical stretch">
          <div class="section-title">What are the EGD Collective’s plans for this grant?</div>
          <div class="flexbox vertical">
            <p>This year we are opening our fellowship programs to all CUNY campuses instead of just Hunter. We would be able to double our cohort of game development and esports fellows we intake this year, which will help us have an easier time scaling to serve more campuses.</p>
            <p>We would also be able to fund more virtual programming for students, such as game jams, facilitating a series of free training workshops for student leaders of gaming organizations nation-wide, and be able to compensate speakers for our annual free convention and conference, Waffle Games.</p>
          </div>
        </div>
        <%= image_tag("/images/changemakers-profile-b.png", class: "framed-element profile-image") %>
        
      </div>
    </div>
  </div>
  
  

</div>
