<title>Resources | AnyKey</title>
<meta name="description" content="Downloadable tools and materials that help learners of all levels increase diversity, inclusion, and equity in their communities.">
<meta name="keywords" content="esports, gaming, livestreaming, diversity, inclusion, equity">

<meta property="og:title"        content="Resources | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Downloadable tools and materials that help learners of all levels increase diversity, inclusion, and equity in their communities.">
<meta property="og:image"        content="<%= asset_url("") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Resources | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Downloadable tools and materials that help learners of all levels increase diversity, inclusion, and equity in their communities.">
<meta name="twitter:image"       content="<%= asset_url("") %>">
<meta name="twitter:card"        content="summary_large_image">