<title>Keystone Code | AnyKey</title>
<meta name="description" content="The Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.">
<meta name="keywords" content="esports, gaming, livestreaming, diversity, inclusion, equity">

<meta property="og:title"        content="Keystone Code | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="The Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.">
<meta property="og:image"        content="<%= asset_url("/images/keystone-poster-preview.png") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Keystone Code | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="The Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.">
<meta name="twitter:image"       content="<%= asset_url("/images/keystone-poster-preview.png") %>">
<meta name="twitter:card"        content="summary_large_image">