<title>Inclusion 101 | AnyKey</title>
<meta name="description" content="Inclusion 101 guides you through building an inclusive gaming club with online training and downloadable materials.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Inclusion 101 | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Inclusion 101 guides you through building an inclusive gaming club with online training and downloadable materials.">
<meta property="og:image"        content="<%= asset_url("/images/inclusion-101-slide-show.gif") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Inclusion 101 | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Inclusion 101 guides you through building an inclusive gaming club with online training and downloadable materials.">
<meta name="twitter:image"       content="<%= asset_url("/images/inclusion-101-slide-show.gif") %>">
<meta name="twitter:card"        content="summary_large_image">