<div id="inclusion-101" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Inclusion 101
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Guide for building inclusive gaming clubs
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <%= image_tag("/images/inclusion-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="issues-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Critical Issues to Guard Against</div>
          <div class="text-section flexbox vertical flex-1">
            <p>As you build and grow your inclusive gaming group there are five critical issues that you should be on the lookout for. Whether your club has a long history or you are just getting started, you should be on the watch for these red flags.</p>
          </div>
          <div class="flexbox horizontal start wrap justify-space-between">  
            <div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">1</div>
                  <div class="subsection-title">Interference from outside interests</div>
                </div>
                <p>Game companies and third party groups often lead how gaming clubs develop. Some can be predatory, prioritizing their profits over your community's needs. Watch out for companies that help "analyze your gameplay" or recruit talent.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">2</div>
                  <div class="subsection-title">Over-reliance on commercial models</div>
                </div>
                <p>Commercial success has become the primary purpose of many groups. Aiming to go pro is fine but so are values-based and amateur clubs. Commit to making the quality of your community your first priority.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">3</div>
                  <div class="subsection-title">Over-representation of PC gaming</div>
                </div>
                <p>Many groups form around games for personal computers. Yet data shows that getting to use a PC depends on economic factors. Don't overlook folks who've only played on consoles or mobile phones.</p>
              </div>
            </div>
            <div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">4</div>
                  <div class="subsection-title">Limited scope of diversity</div>
                </div>
                <p>Increasing participation from women & non-binary folks is now a priority for gaming clubs. Gender inclusivity is essential but it shouldn't be your sole focus. Remember that diversity refers to race, sexuality, and disability too.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">5</div>
                  <div class="subsection-title">Inequitable barriers to entry</div>
                </div>
                <p>Marginalized folks face serious obstacles when trying to participate in gaming groups. They often lack equipment, games, like-minded peers and representative role models. Discrimination and harassment further compound that social isolation. If you're not actively working to knock down these barriers, it’s likely you're accidentally keeping them in place.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="plan-section">
          <div class="section-title">12 Point Plan to Tackle the Challenges</div>
          <p>Confront the critical issues by implementing AnyKey's best practices for creating an inclusive gaming group. For a deeper understanding you can download our recent research report on the topic or read a shorter article summarizing the findings.</p>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Diversity%20%26%20Inclusion%20in%20Collegiate%20Esports%20-%20Challenges%2C%20Opportunities%2C%20and%20Interventions%20(Oct%202019).pdf" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'DiversityInclusionCollegiateEsportsChallengesOpportunitiesInterventionsWP'});">
            <span class="icon">&#xf56d;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Whitepaper</span>
              <span class="title">Diversity & Inclusion in Collegiate Esports: Challenges, Opportunities, and Interventions</span>
            </span>
          </a>
          <a href="https://medium.com/@rhoulette/12-best-practices-for-diversity-and-inclusion-in-collegiate-esports-d15d3efc8b9a" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': '12BestPracticesForDiversityAndInclusionInCollegiateEsports'});">
            <span class="icon">&#xf23a;</span>
            <span class="flexbox vertical start">
              <span class="description">Read Article</span>
              <span class="title">12 Best Practices for Diversity and Inclusion in Collegiate Esports</span>
            </span>
          </a>
        </div>
        <div class="plan-box">
          <div class="point flexbox horizontal center">
            <div class="number">1</div>
            <div class="text">Perform a diversity audit and create a plan for inclusion</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">2</div>
            <div class="text">Take preventative approaches before punitive ones</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">3</div>
            <div class="text">Provide a code of conduct and enforce it</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">4</div>
            <div class="text">Develop programs for diverse levels and forms of participation</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">5</div>
            <div class="text">Encourage co-ed play</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">6</div>
            <div class="text">Establish networks of support</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">7</div>
            <div class="text">Use inclusive language and establish non-discriminatory policies</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">8</div>
            <div class="text">Offer meaningful diverse representation in media broadcasts</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">9</div>
            <div class="text">Formulate holistic selection criteria for teams</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">10</div>
            <div class="text">Invest in moderation infrastructure</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">11</div>
            <div class="text">Provide formal training for bystanders and allies</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">12</div>
            <div class="text">Incentivize and reward good social leadership</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="start-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Quick steps for getting started</div>
          <div class="text-section flexbox vertical flex-1">
            <p>Running a gaming club can be overwhelming so we've developed some clear steps to infuse comfiness into your group's core.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">A</div></div>
            Designate a D&I Leader
          </div>
          <div class="text-section flexbox vertical flex-1">
          <p>No matter if your group is long-running or brand new, you should appoint a diversity & inclusion leader for your team. Someone must be responsible for overseeing the initative and infusing inclusive principles from within. Your D&I leader should have the authority to shape your club from the core and not just be bolted onto the side of operations as an afterthought.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">B</div></div>
            Perform an audit
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'AuditRubric'});">
            <span class="icon">&#xf46d;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Resource</span>
              <span class="title">Diversity &amp; Inclusion Audit Rubric</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">C</div></div>
            Get inclusion training
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'LiveStreamSeries'});">
            <span class="icon">&#xf1e8;</span>
            <span class="flexbox vertical start">
              <span class="description">Follow Channel</span>
              <span class="title">Inclusion 101 Live Stream Series</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'FacilitatorTraining'});">
            <span class="icon">&#xf5a2;</span>
            <span class="flexbox vertical start">
              <span class="description">Signup for Course</span>
              <span class="title">AnyKey Certified Facilitator Training</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">D</div></div>
            Adopt and publish a CoC
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'KeystoneCodeContract'});">
            <span class="icon">&#xf56c;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Resource</span>
              <span class="title">Signable Keystone Code Contract</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'GLHFPledgePromise'});">
            <span class="icon">&#xf56c;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Resource</span>
              <span class="title">Signable GLHF Pledge Promise</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'KeystoneCodePoster'});">
            <span class="icon">&#xf02f;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Resource</span>
              <span class="title">Printable Keystone Code Poster</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'GLHFPledgePoster'});">
            <span class="icon">&#xf02f;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Resource</span>
              <span class="title">Printable GLHF Pledge Poster</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  
  
  
  
</div>