<div id="inclusion-101" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Inclusion 101
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Guide for building inclusive gaming clubs
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>AnyKey created Inclusion 101 with folks from a wide range of gaming groups in mind. This guide is for professional esports players, college varsity teams, intramural clubs, tournament admins, event producers, stream squads, and more.</p>
          <p>We offer online training and downloadable materials designed to foster inclusion in any group that is united by their shared focus on gameplay.</p>
        </div>
        <%= image_tag("/images/inclusion-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="issues-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Critical Issues to Guard Against</div>
          <div class="text-section flexbox vertical flex-1">
            <p>As you build and grow your inclusive gaming group there are five critical issues that you should be on the lookout for. Whether your club has a long history or you are just getting started, you should be on the watch for these red flags.</p>
          </div>
          <div class="flexbox horizontal start wrap justify-space-between">
            <div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">1</div>
                  <div class="subsection-title">Interference from outside interests</div>
                </div>
                <p>Game companies and third party groups often lead how gaming clubs develop. Some can be predatory, prioritizing their profits over your community's needs. Watch out for companies that help "analyze your gameplay" or recruit talent.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">2</div>
                  <div class="subsection-title">Over-reliance on commercial models</div>
                </div>
                <p>Commercial success has become the primary purpose of many groups. Aiming to go pro is fine but so are values-based and amateur clubs. Commit to making the quality of your community your first priority.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">3</div>
                  <div class="subsection-title">Over-representation of PC gaming</div>
                </div>
                <p>Many groups form around games for personal computers. Yet data shows that getting to use a PC depends on economic factors. Don't overlook folks who've only played on consoles or mobile phones.</p>
              </div>
            </div>
            <div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">4</div>
                  <div class="subsection-title">Limited scope of diversity</div>
                </div>
                <p>Increasing participation from women & non-binary folks is now a priority for gaming clubs. Gender inclusivity is essential but it shouldn't be your sole focus. Remember that diversity refers to race, sexuality, and disability too.</p>
              </div>
              <div class="issues-subsection">
                <div class="flexbox horizontal center">
                  <div class="number">5</div>
                  <div class="subsection-title">Inequitable barriers to entry</div>
                </div>
                <p>Marginalized folks face serious obstacles when trying to participate in gaming groups. They often lack equipment, games, like-minded peers and representative role models. Discrimination and harassment further compound that social isolation. If you're not actively working to knock down these barriers, it’s likely you're accidentally keeping them in place.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="plan-section">
          <div class="section-title">12 Point Plan to Tackle the Challenges</div>
          <p>Confront the critical issues by implementing AnyKey's best practices for creating an inclusive gaming group. For a deeper understanding you can download our recent research report on the topic or read a shorter article summarizing the findings.</p>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Diversity%20%26%20Inclusion%20in%20Collegiate%20Esports%20-%20Challenges%2C%20Opportunities%2C%20and%20Interventions%20(Oct%202019).pdf" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'DiversityInclusionCollegiateEsportsChallengesOpportunitiesInterventionsWP'});">
            <span class="icon">&#xf56d;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Whitepaper</span>
              <span class="title">Diversity & Inclusion in Collegiate Esports: Challenges, Opportunities, and Interventions</span>
            </span>
          </a>
          <a href="https://medium.com/@rhoulette/12-best-practices-for-diversity-and-inclusion-in-collegiate-esports-d15d3efc8b9a" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': '12BestPracticesForDiversityAndInclusionInCollegiateEsports'});">
            <span class="icon">&#xf23a;</span>
            <span class="flexbox vertical start">
              <span class="description">Read Article</span>
              <span class="title">12 Best Practices for Diversity and Inclusion in Collegiate Esports</span>
            </span>
          </a>
        </div>
        <div class="plan-box">
          <div class="point flexbox horizontal center">
            <div class="number">1</div>
            <div class="text">Perform a diversity audit and create a plan for inclusion</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">2</div>
            <div class="text">Take preventative approaches before punitive ones</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">3</div>
            <div class="text">Provide a code of conduct and enforce it</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">4</div>
            <div class="text">Develop programs for diverse levels and forms of participation</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">5</div>
            <div class="text">Encourage co-ed play</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">6</div>
            <div class="text">Establish networks of support</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">7</div>
            <div class="text">Use inclusive language and establish non-discriminatory policies</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">8</div>
            <div class="text">Offer meaningful diverse representation in media broadcasts</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">9</div>
            <div class="text">Formulate holistic selection criteria for teams</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">10</div>
            <div class="text">Invest in moderation infrastructure</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">11</div>
            <div class="text">Provide formal training for bystanders and allies</div>
          </div>
          <div class="point flexbox horizontal center">
            <div class="number">12</div>
            <div class="text">Incentivize and reward good social leadership</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="start-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Quick steps for getting started</div>
          <div class="text-section flexbox vertical flex-1">
            <p>Running a gaming club can be overwhelming so we've developed some clear steps to infuse comfiness into your group's core.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">A</div></div>
            Designate a D&I Leader
          </div>
          <div class="text-section flexbox vertical flex-1">
          <p>No matter if your group is long-running or brand new, you should appoint a diversity & inclusion leader for your team. Someone must be responsible for overseeing the initative and infusing inclusive principles from within. Your D&I leader should have the authority to shape your club from the core and not just be bolted onto the side of operations as an afterthought.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">B</div></div>
            Perform an audit
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Honestly assess your club's current level of inclusiveness. Beyond gathering raw participation numbers, remember to thoroughly review your public materials, language, policies, and unspoken community norms. A meaningful survey includes active members of your club, folks in the fringes, and those no longer participating.</p>
            <p>Try to have a third party perform an objective audit for you. If your group is associated with a school, ask your Title IX office for help. Otherwise, you can reach out to organizations like AnyKey that provide D&I consulting services. If you decide to self assess, you can use our audit rubric to structure your internal review.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'AuditRubric'});">
            <span class="icon">&#xf46d;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Checklist</span>
              <span class="title">Diversity &amp; Inclusion Audit Rubric</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">C</div></div>
            Get inclusion training
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Your group's D&I leader will be responsible for guiding the other members so you should make sure they are adequately prepared. Regardless of their background or personal experiences, it's important that they receive formal training for the job.</p>
            <p>If you’re at a school, look for courses from Title IX, student affairs, or campus life. If you’re at a large company, your HR department may have resources. If you’re independent or need more help than your institution provides, AnyKey offers a live stream series as well as a more intensive training for Inclusion 101 facilitators.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'LiveStreamSeries'});">
            <span class="icon">&#xf1e8;</span>
            <span class="flexbox vertical start">
              <span class="description">Follow Channel</span>
              <span class="title">Inclusion 101 Live Stream Series</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'FacilitatorTraining'});">
            <span class="icon">&#xf5a2;</span>
            <span class="flexbox vertical start">
              <span class="description">Signup for Course</span>
              <span class="title">AnyKey Certified Facilitator Training</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">D</div></div>
            Adopt and publish a CoC
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>Establishing a code of conduct signals your values and sets a shared standard of behavior for your community. After your D&I leader is trained, they should guide the group through the process of adopting an approachable and relevant CoC. AnyKey provides starter versions of the <%= link_to("Keystone Code", keystone_code_path, class: "inline", onClick: "gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'KeystoneCodePage'});" )%> and <%= link_to("GLHF Pledge", new_pledge_path, class: "inline", onClick: "gtag('event', 'ClickThru', {'event_category': 'Inclusion101', 'event_label': 'GLHFPledgePage'});" )%> that anyone is welcome to use and adapt.</p>
            <p>Once you've established your CoC, the next step is to publish it on your website, IRL spaces, and social media. It should be highly visible, or better yet, mandatory for all members to sign. Make sure you provide a straightforward mechanism for folks to report problems and outline clear procedures for handling violations.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'CoCHandouts'});">
            <span class="icon">&#xf56c;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Handouts</span>
              <span class="title">Signable Keystone Code Contract &amp;&nbsp;GLHF Pledge Promise</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'CoCPosters'});">
            <span class="icon">&#xf02f;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Posters</span>
              <span class="title">Printable Keystone Code Wall Hanging &amp;&nbsp;GLHF Pledge Poster</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="step-section flexbox horizontal center wrap justify-space-between">
        <div class="flexbox vertical stretch">
          <div class="section-title flexbox horizontal center">
            <div class="icon">&#xf6d1;<div class="letter">E</div></div>
            Facilitate group trainings
          </div>
          <div class="text-section flexbox vertical flex-1">
            <p>When ready, your D&I leader should begin training the group. Be sure they cover proactive topics (allyship &amp; media representation) and reactive measures (bystander intervention &amp; CoC violations).</p>
              <p>AnyKey offers a downloadable version of our Inclusion 101 curriculum that anyone can use to conduct a seminar about diversity and inclusion in gaming. We provide a rich slide deck and a detailed facilitator's guide suitable for an online or IRL training.</p>
              <p>Though it may seem like a big step, we think it’s important to have a member of your own community lead your training seminars. Having an outsider come and impose something on a group never sticks. It's up to you to level up and be the change you want to see in the world. AnyKey is here for support. You've got this.</p>
          </div>
        </div>
        <div class="resource-section">
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'SlideDeck'});">
            <span class="icon">&#xf302;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Slides</span>
              <span class="title">Inclusion 101 Slide Deck</span>
            </span>
          </a>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Inclusion101', 'event_label': 'FacilitatorsGuide'});">
            <span class="icon">&#xf02d;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Guide</span>
              <span class="title">Inclusion 101 Facilitator's Guide</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="end-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Commit to keeping it comfy</div>
          <div class="text-section flexbox vertical flex-1">
            <p>Fostering inclusion in gaming groups is about making change from within. But real change takes time. The more effort you put in, and the more you work as a team, the more meaningful progress you’ll make.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>