<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Instructional materials<br>for learners of all levels
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Research drives all of our initiatives. We conduct qualitative studies, perform quantitative analyses, organize workshops, and moderate live-streamed panels to deeply engage with the world of competitive gaming.</p>
          <p>We share our findings through publicly accessible white papers, tools, and templates that anyone can access.</p>
        </div>
        <%= image_tag("/images/resources-feature.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="keystone-code-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Keystone Code</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Our Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Adopt the Code", keystone_code_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Resources', 'event_label': 'AdoptKeystoneCTA'});" )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical stretch">
      <div class="section-title">Downloadable Publications</div>
      <div class="flexbox horizontal start wrap justify-space-between">
        <div class="flexbox vertical start">
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Live+Streaming+Moderation+Best+Practices+(Sept+2018).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'LiveStreamingModerationBP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Live Streaming Moderation Best Practices</span>            
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Gender+%26+Esports+Tournaments+Best+Practices+(Dec+2017).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'GenderEsportsTournamentsBP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Gender & Esports Tournaments Best Practices</span>            
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+2+Year+Report+(Jan+2018).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'TwoYearReport'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">AnyKey 2 Year Report</span>            
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Diversity+%26+Inclusion+in+Collegiate+Esports+Whitepaper+(Nov+2016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'DiversityInclusionCollegiateEsportsWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Diversity & Inclusion in Collegiate Esports Whitepaper</span>            
          </a>
        </div>
        <div class="flexbox vertical start">
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Barriers+to+Inclusion+and+Retention+-+The+Role+of+Community+Management+and+Moderation+Whitepaper+(Apr+2016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'BarriersInclusionRetentionWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Barriers to Inclusion and Retention: The Role of Community Management and Moderation Whitepaper</span>            
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Esports+Event+Participation+-+IEM+San+Jose+Whitepaper+(Jan+2016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'EsportsEventParticipationWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Esports Event Participation: IEM San Jose Whitepaper</span>            
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey+-+Women+in+Esports+Whitepaper+(Oct+2015).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'WomenInEsportsWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="title">Women in Esports Whitepaper</span>            
          </a>
        </div>
      </div>
    </div>
  </div>
</div>