<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Instructional materials<br>for learners of all levels.
      </div>
      <ul style="list-style-position: inside;">
        <li>Keystone Code of Conduct (opens full page with template + instructions for adaptation)</li>
        <li>Chat Moderation (opens full page with existing best practices in visual format + sample chat rules)</li>
        <li>Inclusive Tournaments (opens full page with existing best practices in visual format)</li>
        <li>Research & whitepapers (opens full academic citation style page with downloadable publications)</li>
        <li>Inclusion 101 Curriculum (TBD/new enrollment feature which will launch when curriculum is ready)</li>
      </ul>
    </div>
  </div>
</div>  