<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Instructional materials<br>for learners of all levels
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>We're working on repackaging our white papers, tools, and templates so that they are easier for the public to access and understand.</p>
          <p>In the meantime, if there's a particular resource you are looking for, just <%= link_to("contact us", contact_path, class: "inline") %> to ask for a copy.
        </div>
        <%= image_tag("/images/resources-feature.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
</div>