<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      Resources text
    </div>
  </div>
</div>  