<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Instructional materials<br>for learners of all levels
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Research drives all of our initiatives. We conduct qualitative studies, perform quantitative analyses, organize workshops, and moderate live-streamed panels to deeply engage with the world of competitive gaming.</p>
          <p>We share our findings through publicly accessible papers, tools, and templates that anyone can access.</p>
        </div>
        <%= image_tag("/images/resources-feature.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="keystone-code-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Keystone Code</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Our Keystone Code identifies four fundamental values that any gaming group can use as guides for positive and fulfilling engagement in their competitive spaces.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Learn More", keystone_code_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Resources', 'event_label': 'KeystoneMoreCTA'});" )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical stretch">
      <div class="section-title">Downloadable Publications</div>
      <div class="flexbox horizontal start wrap justify-space-between">
        <div class="flexbox vertical start">
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Inclusion%20at%20Scale%20(July%202020).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'InclusionAtScalePaper'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">July 2020</span>
              <span class="title">Inclusion at Scale: Deploying a Community-Driven Moderation Intervention on Twitch</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Diversity%20%26%20Inclusion%20in%20Collegiate%20Esports%20-%20Challenges%2C%20Opportunities%2C%20and%20Interventions%20(Oct%202019).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'DiversityInclusionCollegiateEsportsChallengesOpportunitiesInterventionsWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Oct. 2019</span>
              <span class="title">Diversity & Inclusion in Collegiate Esports: Challenges, Opportunities, and Interventions Whitepaper</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Live%20Streaming%20Moderation%20Best%20Practices%20(Sept%202018).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'LiveStreamingModerationBP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Sept. 2018</span>
              <span class="title">Live Streaming Moderation Best Practices</span>
            </span>  
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Gender%20%26%20Esports%20Tournaments%20Best%20Practices%20(Dec%202017).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'GenderEsportsTournamentsBP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Dec. 2017</span>
              <span class="title">Gender & Esports Tournaments Best Practices</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%202%20Year%20Report%20(Jan%202018).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'TwoYearReport'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Jan. 2018</span>
              <span class="title">AnyKey 2 Year Report</span>
            </span>
          </a>
        </div>
        <div class="flexbox vertical start">
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Diversity%20%26%20Inclusion%20in%20Collegiate%20Esports%20Whitepaper%20(Nov%202016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'DiversityInclusionCollegiateEsportsWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Nov. 2016</span>
              <span class="title">Diversity & Inclusion in Collegiate Esports Whitepaper</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Barriers%20to%20Inclusion%20and%20Retention%20-%20The%20Role%20of%20Community%20Management%20and%20Moderation%20Whitepaper%20(Apr%202016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'BarriersInclusionRetentionWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Apr. 2016</span>
              <span class="title">Barriers to Inclusion and Retention: The Role of Community Management and Moderation Whitepaper</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Esports%20Event%20Participation%20-%20IEM%20San%20Jose%20Whitepaper%20(Jan%202016).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'EsportsEventParticipationWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Jan. 2016</span>
              <span class="title">Esports Event Participation: IEM San Jose Whitepaper</span>
            </span>
          </a>
          <a href="https://anykey-resources.s3.amazonaws.com/publications/AnyKey%20-%20Women%20in%20Esports%20Whitepaper%20(Oct%202015).pdf" class="publication flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'Resources', 'event_label': 'WomenInEsportsWP'});">
            <span class="icon">&#xf15c;</span>
            <span class="flexbox vertical start">
              <span class="date">Oct. 2015</span>
              <span class="title">Women in Esports Whitepaper</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>