<div id="resources" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          Resource
        </div>
        <div class="title-line-b">
          LIBRARY
        </div>      
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Instructional materials<br>for learners of all levels
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>We're working on repackaging our white papers, tools, and templates so that they are easier for the public to access and understand.</p>
          <p>In the meantime, if there's a particular resource you are looking for, just <%= link_to("contact us", contact_path, class: "inline") %> to ask for a copy.
        </div>
        <%= image_tag("/images/resources-feature.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div id="keystone-code-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Keystone Code</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Our Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Adopt the Code", keystone_code_path, class: "button", )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>