<div class="card flexbox vertical stretch">
  <div class="flexbox vertical">
    <div class="row-title"><%= affiliate.name %></div>
    <div class="row-detail"><%= affiliate.title %></div>
  </div>
</div>