<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Affiliates</div>
      </div>
      <div class="panel-menu flexbox horizontal center wrap">
        <%= link_to("Add Affiliate", new_affiliate_path, class: "stealth") %>
      </div>
      <div class="affiliates-list flexbox vertical stretch">
        <% if @affiliates.present? %>
          Affiliates shown here.
        <% else %>
        <div class="empty">
          No affiliates found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
