<title>Contact | AnyKey</title>
<meta name="description" content="Get in touch with the AnyKey team if need help or would like to learn more about our work.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Contact | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Get in touch with the AnyKey team if need help or would like to learn more about our work.">
<meta property="og:image"        content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Contact | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Get in touch with the AnyKey team if need help or would like to learn more about our work.">
<meta name="twitter:image"       content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta name="twitter:card"        content="summary_large_image">