<title>Data Policy | AnyKey</title>
<meta name="description" content="Simple explanation of what we do with the information we collect.">
<meta name="keywords" content="esports, gaming, livestreaming, diversity, inclusion, equity">

<meta property="og:title"        content="Data Policy | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="Simple explanation of what we do with the information we collect.">
<meta property="og:image"        content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Data Policy | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="Simple explanation of what we do with the information we collect.">
<meta name="twitter:image"       content="<%= asset_url("/images/anykey-preview.jpg") %>">
<meta name="twitter:card"        content="summary_large_image">