<div id="data-policy" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Data Policy
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        How we handle<br>the information you share
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Your email will not be used for marketing communications and will not be shared with third parties. We will only contact you for matters relating to your participation in the GLHF pledge or your request for eligibility verification.</p>
        </div>
        <div class="action-box">
          <div class="heading">GDPR</div>
          <p>If you would like to be forgotten by our database, please send an email with remove in the subject line to: <%= link_to(" gdpr@anykey.org", "mailto:gdpr@anykey.org?subject=Remove me please",  class: "inline", target: "_blank") %>.</p>
      </div>
    </div>
  </div>
</div>