<div id="data-policy" class="flexbox vertical center"> 
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
        Data Policy
      </div>
    </div>
  </div>
</div>