<div id="about" class="flexbox vertical center"> 
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
        About AnyKey
      </div>
    </div>
  </div>
</div>