<div id="logo-guide" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Logo Guide
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        AnyKey assets and brand identity guide
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">      
        <div class="intro-section">
          <p>Our name, a playful reference to the phrase “press any key to continue,” was chosen to convey the idea that anybody should be welcome in gaming. Our logo, a mechanical keycap with an equality sign, was designed to represent that elusive key.</p>
          <p>The AnyKey was created as a universal symbol of respect and inclusion. We ask anyone who uses it as a sign of welcome to follow a few simple guidelines.</p>
        </div>
          <div>image</div>
      </div>  
    </div>
  </div>
</div>