<div id="work-with-us" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Work With Us
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Get involved as a sponsor,<br>
        client, partner, or volunteer
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Whether you work at a game studio, university, media platform, tech company, or are just starting out in your career, there's a way for you to collaborate with AnyKey.</p>
        </div>
        <%= image_tag("/images/work-with-us-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="involvement-section flexbox vertical stretch">
          <div class="flexbox horizontal center">
            <div class="involvement-icon green">&#xf53d;</div>
            <div class="involvement-title">Sponsor Our Initiatives</div>
          </div>
          <div class="involvement-text">
            <p>Our initiatives are ideal underwriting opportunities for companies invested in improving the game industry.</p>
            <p>Ask us about supporting a season of video content, commissioning an in-depth research study, or securing exclusive rights as title sponsor of the GLHF pledge.</p>
          </div>
        </div>
        <div class="involvement-section flexbox vertical stretch">
          <div class="flexbox horizontal center">
            <div class="involvement-icon blue">&#xf47f;</div>
            <div class="involvement-title">Hire Us as Consultants</div>
          </div>  
          <div class="involvement-text">
            <p>Our team offers a range of services to help gaming and tech organization level up their inclusiveness.</p>
            <p>We perform comprehensive diversity audits, create inclusion plans, develop equitable policies, craft messaging strategies, conduct training seminars, etc.</p>
         </div>
        </div>
        <div class="involvement-section flexbox vertical stretch">
          <div class="flexbox horizontal center">
            <div class="involvement-icon fuchsia">&#xf4c4;</div>
            <div class="involvement-title">Partner on a Project</div>
          </div>
          <div class="involvement-text">
            <p>As a community-focused organization, we thrive on collaborations with like-mind partners.</p>
            <p>Join forces with us to organize a tournament, run a charity stream, host a panel, set up an inclusion lounge, or adopt the AnyKey badge on your platform.</p>
          </div>
        </div>
        <div class="involvement-section flexbox vertical stretch">
          <div class="flexbox horizontal center">
            <div class="involvement-icon orange">&#xf25b;</div>
            <div class="involvement-title">Volunteer Online or IRL</div>
          </div>
          <div class="involvement-text">
            <p>As a charitable group, we have big respect for those willing to give their time to our shared cause.</p>
            <p>We welcome graduate students and folks new to industry to lend a hand as community moderators, event ambassadors, and research assistants.</p>
          </div>
        </div> 
      </div>
    </div>
  </div>  
  <div id="contact-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox horizontal center wrap justify-space-around">
          <div class="flexbox vertical start">
            <div class="section-title">Start by contacting us</div>
            <div class="text-section flexbox vertical flex-1">
              <p>Send a quick email to ask more getting involved as a sponsor, client, partner, or volunteer.</p>
            </div>
          </div>
          <div class="flexbox vertical center">            
            <%= link_to("Get in Touch", "mailto:hello@anykey.org?subject=Hey AnyKey, I'd like to talk about working with you...", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'WorkWithUs', 'event_label': 'ContactCTA'});")%>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>