<div id="work-with-us" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Work With Us
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Headline goes here
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>Information goes here.</p>
        </div>
        <%= image_tag("/images/about-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
</div>  