/************************************/
/*         About Page Header        */
/************************************/

#about .page-header {
  background: url('/images/about-background.jpg') 50% 40% no-repeat;
  background-size: cover;
  height: 250px;
}

#about .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
}


/************************************/
/*         About Page Intro         */
/************************************/

#about .intro-section {
  max-width: 34em;
  width: 100%;
  font-size: 1.2em;
}

#about img.feature-image {
  max-width: 408px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#about .objective-section {
  max-width: 30em;
  width: 100%;
  margin: 1em;
  font-size: 1.2em;
}

#about .goal-section {
  max-width: 22em;
  width: 100%;
  margin: 2.5em 0.5em 0em 0.5em;
}

#about div.goal-section p {
  font-size: 1em;
}

#about .strategy-section {
  max-width: 36em;
  width: 100%;
}

#about .pillar-section {
  max-width: 22em;
  width: 100%;
  margin: 3em 0.5em 0em 0.5em;
}

#about .pillar-section .subsection-title {
  margin-bottom: 0em;
}

#about .pillar-section img {
  max-width: 4em;
  margin-left: -1em;
}

#about div.pillar-section p {
  font-size: 1em;
}

#about .history-section {
  max-width: 32em;
  width: 100%;
}

#about img.history-image {
  margin-bottom: 2em;
}

#about .history-subsection {
  max-width: 29em;
  width: 100%;
  margin-top: 1em;
}

#about div.history-subsection p {
  font-size: 1.05em;
}

#about .teammate-section {
  margin: 2em 1em 1em 1em;
  max-width: 20em;
  width: 100%;
}

#about img.teammate-image {
  width: 10em;
  padding: 5px;
  border: 4px solid var(--light-black-color);
  border-radius: 10em;
  margin-left: 3em;
}

#about .teammate-title {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 0.75em;
  margin-bottom: 0.4em;
}

#about .teammate-subtitle {
  color: var(--gray-color);
  font-family: var(--title-font);
  font-size: 1em;
}

#about .teammate-links a {
  font-family: var(--icon-font);
  font-size: 1.2em;
  color: var(--bright-green-color);
  margin-left: 0.7em;
}

#about .teammate-links a:hover {
  color: var(--bright-orange-color);  
}

#about .teammate-links a:active {
  color: var(--bright-blue-color);  
}

#about .teammate-text {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  margin-top: 1.5em;
}

#about .logo-section {
  max-width: 50em;
  width: 100%;
}

#about img.logo-image {
  width: 14em;
  margin: 0em 1em 3em 1em;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:70em) {
  #about .intro-section {
    margin-bottom: 2em;
  }
  
  #about .strategy-section {
    max-width: none;
    margin-top: 3em;
  }
  
  #about .history-section {
    margin-bottom: 2.5em;
  }
}