/************************************/
/*      Affiliates Page Header      */
/************************************/

#affiliates .page-header {
  background: url('/images/affiliates-header.jpg') 80% center no-repeat;
  background-size: cover;
}

#affiliates #tapestry {
  background: var(--bright-orange-color);
}

#affiliates #tapestry:after {
  border-top: 50px solid var(--bright-orange-color);
}

#affiliates #tapestry .title-line-a {
  font-family: var(--title-font);
  color: var(--dark-orange-color);
  font-size: 3.3em;
  margin-top: 2.7em;
}

#affiliates #tapestry .title-line-b {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 2em;
  margin-top: .2em;
  margin-bottom: 4.15em;
}

/************************************/
/*      Affiliates Page Intro       */
/************************************/



/************************************/
/*      Affiliates Page Cards       */
/************************************/


#affiliates .card {
  margin: .7em;
  max-width: 20em;
  width: 100%;
  border: 4px solid var(--dark-white-color);
}

#affiliates .card .image {
  max-width: 20em;
  max-height: 15em;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

#affiliates .card img {
  margin: 0px;
  width: 100%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

#affiliates .card img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

#affiliates .card .bottom {
  background-color: var(--dark-white-color);
  padding: 1em;
}




