/************************************/
/*       Backstage Page Style       */
/************************************/

#backstage-container .session-box {
  width: 24em;
  background: #ffffff;
  padding: 2em 3em 2em 3em;
  border: solid 5px var(--black-color);
}

#backstage-container .control-panel {
  max-width: 54em;
  width: 100%;
  background: #ffffff;
  padding: 2em 3em 2em 3em;
  border: solid 5px var(--black-color);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

#backstage-container .panel-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 0.2em;
}

#backstage-container .panel-descriptor {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.7em;
  color: var(--gray-color);
  text-align: right;
  line-height: 1.5em;
}

#backstage-container .panel-menu a {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1em;
  margin-top: 1em;
  margin-right: 2em;
}

#backstage-container .panel-filters {
  font-size: 0.75em;
  font-weight: 500;
  color: var(--gray-color);
}

#backstage-container .panel-filters a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#backstage-container .panel-filters a.selected {
  font-weight: 700;
  color: var(--light-black-color); 
}

#backstage-container .panel-filters a:hover {
  color: var(--bright-orange-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:56em) {
  #backstage-container .control-panel {
    max-width: none;
    min-width: 30em;
  }
}

@media (max-width:34em) {
  #backstage-container .session-box {
    width: auto;
    padding: 2em 2em 2em 2em;
  }
  
  #backstage-container .control-panel {
    min-width: 16em;
    padding: 2em 2em 2em 2em;
  }
}
