/************************************/
/*       Concern Page Sections      */
/************************************/

#concern .page-section {
  max-width: 43em;
}


/************************************/
/*      Backstage Concern Queue     */
/************************************/

#backstage-container .record-row .watched {
  font-size: 0.9em;
  font-family: var(--solid-icon-font);
  color: var(--bright-fuchsia-color);
  margin-left: 0.4em;
}

#backstage-container .record-row .row-detail.dismissed {
  font-weight: 700;
  color: var(--gray-color);
}

#backstage-container .record-row .row-detail.reviewed {
  font-weight: 700;
  color: var(--bright-green-color);
}


/************************************/
/*     Backstage Concern Review     */
/************************************/

#backstage-container .concern-item {
  margin-top: 1.25em;
  width: 100%;
  overflow-wrap: break-word;
}

#backstage-container .concern-item.half-width {
  max-width: 20em;
}

#backstage-container .concern-item .item-title {
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

#backstage-container .concern-item .item-text {
  font-size: 1em;
}

#backstage-container .concern-item .item-text.empty {
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 0.3em;
  color: var(--light-gray-color);
}

#backstage-container .concern-item .item-text.small {
  font-size: 0.9em;
}

#backstage-container .concern-item .item-text img {
  height: 1em;
  margin-right: 0.4em;
}

#backstage-container .concern-item a.cert_code {
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 6px;
  padding: 4px 4px 2px 4px;
  color: var(--white-color);
  background: var(--bright-green-color);
}

#backstage-container .concern-item a.cert_code:hover {
  background: var(--bright-orange-color);
}

#backstage-container .concern-item a.cert_code:active {
  background: var(--bright-blue-color);
}

#backstage-container .concern-item .concern-screenshot-container {
  width: 10em;
  margin-bottom: 1em;
}

#backstage-container .concern-item .concern-screenshot-caption {
  font-size: 0.7em;
  margin-top: 0.5em;
}


/************************************/
/*   Concern Verification Overlays  */
/************************************/

#backstage-container .concern-item .concern-screenshot {
  position: relative;
}

#backstage-container .concern-item .concern-screenshot-overlay  {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-overlay);
  color: var(--white-color);
  cursor: pointer;
}

#backstage-container .concern-item .concern-screenshot-overlay .action {
  background-color: var(--white-overlay);
  font-family: var(--alt-title-font);
  font-weight: 400;
  font-size: 0.7em;
  text-align: center;
  color: var(--white-color);
  padding: 0.8em 1em 0.8em 1em;
}


/************************************/
/*     Backstage Concern Buttons    */
/************************************/

#backstage-container .concern-buttons {
  margin-top: 2em;
}

#backstage-container .concern-buttons .button {
  border: 4px solid var(--light-black-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.75em 1em 0.75em 1em;
  text-transform: uppercase;
  text-align: center;
  min-width: 4.5em;
  margin-left: 2em;
}

#backstage-container .concern-buttons .button.mini {
  border: 3px solid var(--light-black-color);
  font-weight: 400;
  font-size: 0.9em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  min-width: none;
}

#backstage-container .concern-buttons .button.back-button {
  background-color: var(--light-black-color);
}

#backstage-container .concern-buttons .button.dismiss-button {
  background-color: var(--gray-color);
}

#backstage-container .concern-buttons .button.close-button,
#backstage-container .concern-buttons .button.undismiss-button {
  background-color: var(--bright-green-color);
}

#backstage-container .concern-buttons .button:hover {
  cursor: pointer;
  background-color: var(--bright-blue-color);
}

#backstage-container .concern-buttons .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#backstage-container .concern-buttons .button::-moz-focus-inner {
  border: 0 !important;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:46em) {
  #backstage-container .concern-buttons .button {
    width: 100%;
    margin-left: 0em;
    margin-top: 2em;
  }
}
