/************************************/
/*       Contact Page Header        */
/************************************/

#contact .page-header {
  background: url('/images/contact-background.jpg') 50% 60% no-repeat;
  background-size: cover;
  height: 250px;
}

#contact .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
}