/************************************/
/*           Footer Style           */
/************************************/

#footer {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 1em;
  margin-top: 4em;
}

#footer-content {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width:80em) {
  #footer-content {
    width: 80em;
  }
}

#footer-content .left,
#footer-content .right {
  font-size: 0.85em;
}

#footer-content .left {
  margin-left: 1.8em;
}

#footer-content .right {
  margin-right: 1.8em;
}