/************************************/
/*           Footer Style           */
/************************************/

#footer {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 1em;
  margin-top: 4em;
}

#footer-content {
  width: 100%;
  padding-top: 1em;
}

@media (min-width:80em) {
  #footer-content {
    width: 80em;
  }
}

#footer-content .creators,
#footer-content .sponsors,
#footer-content .social-links,
#footer-content .reporting,
#footer-content .sitemap {
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#footer-content .creators,
#footer-content .sponsors {
  font-size: 0.85em;
}

#footer-content .reporting {
  font-size: 0.85em;
}

#footer-content .reporting a {
  margin-top: 0.7em;
  font-size: 1em;
  font-weight: 500;
}

#footer-content img.left-logo {
  margin-right: 1em;
}

#footer-content .creators img:not(.left-logo):hover {
  border-bottom: 2px solid var(--bright-green-color);
  margin-bottom: -2px;
}

#footer-content .creators img:not(.left-logo):active {
  border-bottom: 2px solid var(--bright-blue-color);
  margin-bottom: -2px;
}

#footer-content .sitemap .left-column {
  margin-right: 1.8em;
}

#footer-content .sitemap a {
  font-size: 0.85em;
  font-weight: 400;
}

#footer-content .sitemap a:not(:first-child) {
  margin-top: 0.7em;
}

#footer-content .social-links .top-row {
  margin-bottom: 1.2em;
}

#footer-content .social-links a {
  font-family: var(--icon-font);
  font-size: 2em;
}

#footer-content .social-links a:hover {
  color: var(--bright-green-color);  
}

#footer-content .social-links a:active {
  color: var(--bright-blue-color);  
}

#footer-content .social-links a:not(:last-child) {
  margin-right: 0.6em;
}

#footer-content img.sponsorship-logo {
  margin-right: 1em;
}