/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container,
#backstage-container {
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

#backstage-container {
  background: var(--dark-white-color);
}

input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-clear-button,
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/************************************/
/*        Flash Notice Style        */
/************************************/

.flash#notice {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 30%;
  margin-right: 30%;
  z-index: 1000;
  text-align: center;
  font-size: 0.9em;
  padding: 1.5em 3.5em 1.5em 3.5em;
  border: 5px solid var(--white-color);
  background-color: var(--bright-green-color);
  color: var(--white-color);
}

#backstage-container .flash#notice {
  position: relative;
  margin-bottom: -2em;
}

@media (max-width:48em) {
  .flash#notice {
    border: 3px solid var(--white-color);
  }
}

@media (max-width:34em) {
  .flash#notice {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/************************************/
/*           Link Style             */
/************************************/

a {
  color: inherit;
  text-decoration: none;
}

a.inline:hover,
a.stealth:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--bright-green-color);
  margin-bottom: -2px;
  text-shadow: var(--bright-green-color) 0px 0px 200px;
}

a.inline:active,
a.stealth:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--bright-blue-color);
  margin-bottom: -2px;
  text-shadow: var(--bright-blue-color) 0px 0px 200px;
}

a.inline {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--bright-orange-color);
  margin-bottom: -2px;
  text-shadow: none;
  overflow-wrap: break-word;
}