* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container {
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
}

#site-container {
  background: var(--white-color);
}


/************************************/
/*          Header Style            */
/************************************/

#header {
  background-color: var(--black-color);
  height: 3em;
  z-index: 100;
}

#header-content {
  height: 3em;
  width: 100%;
}

@media (min-width:56.25em) {
  #header-content {
    width: 56.25em;
  }
}

#header-content a.logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 1.4em;
  margin-left: 1em;
  border-bottom: none;
}

#header-content a.item {
  color: var(--white-color);
  text-decoration: none;
  font-family: var(--alt-title-font);
  font-weight: 500;
  font-size: 0.9em;
  margin-right: 1.1em;
}

#header-content a.item.last {
  margin-right: 1.9em;
}

#header-content a.item.selected {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--bright-green-color);
}

#header-content #veggieburger {
  display: none;
  color: var(--white-color);
}

#header-content #veggieburger a {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header-content #veggieburger a:hover {
  text-shadow: var(--bright-green-color) 0px 0px 100px;
}

#veggieburger-menu {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--alt-title-font);
  font-weight: 500;
  font-size: .85em;
  width: 100%;
  padding-bottom: 0.8em;
  position: absolute;
  top: 40px;
  z-index: 10;
}

#veggieburger-menu .row {
  height: 2.5em;
  line-height: 3em;
}

#veggieburger-menu a {
  margin-left: 1.75em;
}

#veggieburger-menu a.selected {
  border-bottom: 2px solid var(--bright-green-color);
}

@media (max-width:30em) {  
  #header-content #full-menu {
    display: none;
  }
  
  #header-content #veggieburger {
    display: inherit;
  }
}

@media (min-width:30em) {  
  #veggieburger-menu {
    display: none !important;
  }
}


/************************************/
/*           Footer Style           */
/************************************/

#footer {
  background: var(--black-color);
  color: var(--white-color);
  font-size: 1em;
  height: 6em;
  margin-top: 4em;
}

#footer-content {
  height: 6em;
  width: 100%;
}

@media (min-width:56.25em) {
  #footer-content {
    width: 56.25em;
  }
}

#footer-content .left,
#footer-content .right {
  font-size: 0.85em;
}

#footer-content .left {
  margin-left: 1.2em;
}

#footer-content .right {
  margin-right: 1.2em;
}


/************************************/
/*           Link Style             */
/************************************/

a:not(.logo):not(.anchorpoint):not(.veggieburger) {
  color: inherit;
  text-decoration: none;
}

a:not(.logo):not(.anchorpoint):not(.veggieburger):hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--bright-green-color);
  margin-bottom: -2px;
  text-shadow: var(--bright-green-color) 0px 0px 100px;
}