/************************************/
/*          Header Style            */
/************************************/

#header {
  background-color: var(--black-color);
  height: 3em;
  z-index: 100;
}

#header-content {
  height: 3em;
  width: 100%;
}

@media (min-width:80em) {
  #header-content {
    width: 80em;
  }
}

#header-content a.logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 1.4em;
  margin-left: 1.25em;
  border-bottom: none;
}

#header-content a.logo img {
  margin-right: 0.2em;
}

#header-content a.item {
  color: var(--white-color);
  text-decoration: none;
  font-family: var(--alt-title-font);
  font-weight: 500;
  font-size: 0.9em;
  margin-right: 1.1em;
}

#header-content a.item.last {
  margin-right: 1.9em;
}

#header-content #veggieburger {
  display: none;
  color: var(--white-color);
}

#header-content #veggieburger a {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header-content #veggieburger a:hover {
  text-shadow: var(--bright-green-color) 0px 0px 100px;
}

#veggieburger-menu {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--alt-title-font);
  font-weight: 500;
  font-size: .85em;
  width: 100%;
  padding-bottom: 0.8em;
  position: absolute;
  top: 40px;
  z-index: 10;
}

#veggieburger-menu .row {
  height: 2.5em;
  line-height: 3em;
}

#veggieburger-menu a {
  margin-left: 1.75em;
}

#header-content a.item.selected,
#header-content a.item:hover,
#veggieburger-menu a.selected,
#veggieburger-menu a:hover,
#header-content a.item.selected.pledge,
#header-content a.item.pledge:hover,
#veggieburger-menu a.selected.pledge,
#veggieburger-menu a.pledge:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--bright-green-color);
}

#header-content a.item.selected.affiliates,
#header-content a.item.affiliates:hover,
#veggieburger-menu a.selected.affiliates,
#veggieburger-menu a.affiliates:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--bright-orange-color);
}

#header-content a.item.selected.resources,
#header-content a.item.resources:hover,
#veggieburger-menu a.selected.resources,
#veggieburger-menu a.resources:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--bright-blue-color);
}

#header-content a.item.selected.stories,
#header-content a.item.stories:hover,
#veggieburger-menu a.selected.stories,
#veggieburger-menu a.stories:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--bright-fuchsia-color);
}

#header-content #header-avatar-container {
  width: 28px;
  height: 28px;
  margin-right: 2em;
}

#header-content #header-avatar-container:hover {
  cursor: pointer;
}

#header-content img.header-avatar {
  min-width: 28px;
  min-height: 28px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}

#header-content #dropdown-container {
  position: relative;
  top: 0px;
  right: -3px;
}

#header-content #dropdown-container .outer-caret {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid var(--black-color);
}

#header-content #dropdown-container .inner-caret {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 4px;
  right: 4px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid var(--white-color);
  z-index: 100;
}

#header-content #dropdown-container .dropdown-menu {
  position: relative;
  top: 14px;
  right: -14px;
  background-color: var(--white-color);
  border: 3px solid var(--black-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

#header-content #dropdown-container .dropdown-menu a.menu-item {
  padding: 1em 1em 1em 1em;
  margin-left: 0em;
  margin-right: 0em;
  font-size: 0.8em;
  font-family: var(--alt-title-font);
  font-weight: 500;
  color: var(--black-color);
  text-decoration: none;
  white-space: nowrap;
}

#header-content #dropdown-container .dropdown-menu a.menu-item:link,
#header-content #dropdown-container .dropdown-menu a.menu-item:visited {
  color: var(--black-color);
}

#header-content #dropdown-container .dropdown-menu a.menu-item:hover {
  background-color: var(--orange-overlay);
  color: var(--white-color);
}

#header-content #dropdown-container .dropdown-menu a.menu-item:active {
  background-color: var(--bright-blue-color);
  color: var(--white-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:34em) {  
  #header-content #full-menu {
    display: none;
  }
  
  #header-content #veggieburger {
    display: inherit;
  }
}

@media (min-width:34em) {  
  #veggieburger-menu {
    display: none !important;
  }
}