/************************************/
/*        Home Page Header          */
/************************************/

#home .page-header {
  background: url('/images/home-header-a.jpg') 50% center no-repeat;
  background-size: cover;
}

#home .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
}

#home .page-header .title .line-a {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

#home .page-header .title .line-b {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 2em;
  line-height: 1.4em;
}

/***********************************/
/*         Responsiveness          */
/***********************************/


@media (max-width:48em) {
  #home .page-header .title .line-a {
    font-size: 2.3em;
  }
  #home .page-header .title .line-b {
    font-size: 1.6em;
  }
}
  
@media (max-width:34em) {
  #home .page-header .title .line-a {
    font-size: 1.8em;
  }
  #home .page-header .title .line-b {
    font-size: 1.2em;
  }
}

@media (max-width:22em) {
  #home .page-header .title .line-a {
    font-size: 1.5em;
  }
  #home .page-header .title .line-b {
    font-size: 1.0em;
  }
}