/************************************/
/*        Home Page Header          */
/************************************/

@keyframes anime {
  0%   { opacity: 1; }
  30%  { opacity: 1; }
  33%  { opacity: 0; }
  97%  { opacity: 0; }
  100% { opacity: 1; }
}

#home .page-header .background:nth-of-type(1) {
  background-image: url('/images/home-header-c.jpg');
  animation-delay: 11s;
}
#home .page-header .background:nth-of-type(2) {
  background-image: url('/images/home-header-b.jpg');
  animation-delay: 5.5s;
}
#home .page-header .background:nth-of-type(3) {
  background-image: url('/images/home-header-a.jpg');
  animation-delay: 0s;
}

#home .page-header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: anime 16.5s linear infinite 0s;
  color: transparent;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
}

#home .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
}

#home .page-header .title .line-a {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3.5em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

#home .page-header .title .line-b {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.4em;
}


/************************************/
/*        Home Page Sections        */
/************************************/

#home .intro-section {
  max-width: 38em;
  width: 100%;
  font-size: 1.1em;
}

#home img.feature-image {
  margin: 1.5em;
  max-width: 408px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#home #glhf-section {
  width: 100%;
  background: url('/images/home-background-a.jpg') 40% 35% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #glhf-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #glhf-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 34em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #glhf-section div.text-section p {
  line-height: 1.6em;
}

#home #glhf-section .button {
  border: 5px solid var(--white-color);
  background-color: var(--bright-green-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
  max-width: 13.5em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
}

#home #glhf-section .button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
}

#home #glhf-section .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#home #glhf-section .button::-moz-focus-inner {
  border: 0 !important;
}

#home #glhf-section .button .detail-text {
  color: var(--dark-green-color);
  font-size: 0.9em;
  text-transform: none;
}

#home #glhf-section .button:hover .detail-text,
#home #glhf-section .button:focus .detail-text {
  color: var(--white-color);
}

#home #inclusion-101-section {
  width: 100%;
  background: url('/images/inclusion-header.jpg') 50% 55% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #inclusion-101-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #inclusion-101-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 34em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #inclusion-101-section div.text-section p {
  line-height: 1.6em;
}

#home #inclusion-101-section .button {
  border: 5px solid var(--white-color);
  background-color: var(--bright-blue-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
  max-width: 13.5em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
}

#home #inclusion-101-section .button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
}

#home #inclusion-101-section .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#home #inclusion-101-section .button::-moz-focus-inner {
  border: 0 !important;
}

#home #verification-section {
  width: 100%;
  background: url('/images/verification-header.jpg') 50% 55% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #verification-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #verification-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 34em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #verification-section div.text-section p {
  line-height: 1.6em;
}

#home #verification-section .button {
  border: 5px solid var(--white-color);
  background-color: var(--bright-fuchsia-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
  max-width: 13.5em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
}

#home #verification-section .button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
}

#home #verification-section .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#home #verification-section .button::-moz-focus-inner {
  border: 0 !important;
}

#home #keystone-code-section {
  width: 100%;
  background: url('/images/keystone-header.jpg') 50% 60% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #keystone-code-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #keystone-code-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 34em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #keystone-code-section div.text-section p {
  line-height: 1.6em;
}

#home #keystone-code-section .button {
  border: 5px solid var(--white-color);
  background-color: var(--bright-blue-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
  max-width: 13.5em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
}

#home #keystone-code-section .button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
}

#home #keystone-code-section .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#home #keystone-code-section .button::-moz-focus-inner {
  border: 0 !important;
}

#home #changemakers-section {
  width: 100%;
  background: url('/images/home-background-b.jpg') 40% 50% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #changemakers-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #changemakers-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 34em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #changemakers-section div.text-section p {
  line-height: 1.6em;
}

#home #changemakers-section .button {
  border: 5px solid var(--white-color);
  background-color: var(--bright-orange-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
  max-width: 13.5em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
}

#home #changemakers-section .button:hover {
  cursor: pointer;
  background-color: var(--bright-fuchsia-color);
}

#home #changemakers-section .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  outline: none;
}

#home #changemakers-section .button::-moz-focus-inner {
  border: 0 !important;
}

#home #changemakers-section .button .detail-text {
  color: var(--dark-orange-color);
  font-size: 0.9em;
  text-transform: none;
}

#home #changemakers-section .button:hover .detail-text,
#home #changemakers-section .button:focus .detail-text {
  color: var(--white-color);
}

#home .goal-section {
  max-width: 20em;
  width: 100%;
  margin: 1em;
}

#home .goal-section .subsection-title {
  margin-bottom: 0em;
}

#home .goal-section img {
  width: 52px;
  height: 52px;
  margin-left: -0.4em;
  margin-right: 0.6em;
}

#home #testimonial-section {
  width: 100%;
  background: url('/images/home-background-c.jpg') 60% 50% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#home #testimonial-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #testimonial-section .quote {
  font-size: 1.5em;
  font-family: var(--alt-title-font);
  font-weight: 500;
  font-style: italic;
  line-height: 1.4em;
  max-width: 22em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#home #testimonial-section .quote.bottom-padded {
  margin-bottom: 1.5em;
}

#home .pillar-section {
  max-width: 22em;
  width: 100%;
  margin: 1em;
}

#home .pillar-section .subsection-title {
  margin-bottom: 0em;
}

#home .pillar-section img {
  max-width: 4em;
  margin-left: -1em;
}

#home #about-section {
  width: 100%;
  background: url('/images/home-background-d.jpg') 40% 50% no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
  margin-bottom: -3.6875em;
}

#home #about-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#home #about-section .text-section {
  max-width: 30em;
  width: 100%;
  text-shadow: var(--black-color) 0px 0px 20px;
}



/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:60em) {
  #home .intro-section {
    max-width: none;
    min-width: 30em;
  }
}

@media (max-width:48em) {
  #home .page-header .title .line-a {
    font-size: 2.5em;
  }
  #home .page-header .title .line-b {
    font-size: 1.7em;
  }

  #home #about-section {
    margin-bottom: -3.8125em;
  }
}

@media (max-width:34em) {
  #home .page-header .title .line-a {
    font-size: 2em;
  }
  #home .page-header .title .line-b {
    font-size: 1.3em;
  }

  #home .intro-section {
    min-width: 16em;
  }
  
  #home #about-section .text-section {
    max-width: none;
  }
}

@media (max-width:22em) {
  #home .page-header .title .line-a {
    font-size: 1.5em;
  }
  #home .page-header .title .line-b {
    font-size: 0.95em;
  }
}