/************************************/
/*     Inclusion 101 Page Header    */
/************************************/

#inclusion-101 .page-header {
  background: url('/images/inclusion-header.jpg') 50% 55% no-repeat;
  background-size: cover;
  height: 250px;
}

#inclusion-101 .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
}


/************************************/
/*       Inclusion 101 Intro        */
/************************************/

#inclusion-101 .intro-section {
  max-width: 34em;
  width: 100%;
  font-size: 1.2em;
}

#inclusion-101 img.feature-image {
  max-width: 408px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}


/************************************/
/*       Inclusion 101 Issues       */
/************************************/

#inclusion-101 #issues-section {
  width: 100%;
  background: var(--alert-red-color);  
  margin-top: 5em;
  color: var(--white-color);
}

#inclusion-101 #issues-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#inclusion-101 #issues-section .text-section {
  font-size: 1.1em;
  font-weight: 500;
  max-width: 48em;
  width: 100%;
}

#inclusion-101 #issues-section div.text-section p {
  line-height: 1.6em;
}

#inclusion-101 .issues-subsection {
  max-width: 38em;
  width: 100%;
  margin-top: 3em;
  font-size: 0.9em;
}

#inclusion-101 .issues-subsection .subsection-title {
  margin-bottom: 0em;
}

#inclusion-101 .issues-subsection .number {
  font-size: 1em;
  font-family: var(--title-font);
  color: var(--alert-red-color);
  background: url('/images/flag.svg') no-repeat;
  background-size: 40px 40px;
  background-position: top left 4px;
  min-width: 44px;
  min-height: 40px;
  line-height: 32px;
  text-align: center;
  margin-right: 0.4em;
}


/************************************/
/*        Inclusion 101 Plan        */
/************************************/

#inclusion-101 .plan-section {
  max-width: 34em;
  width: 100%;
  font-size: 1.1em;
  margin-right: 3em;
  margin-bottom: 2em;
}

#inclusion-101 .plan-box {
  max-width: 34em;
  width: 100%;
  border: 8px solid var(--dark-green-color);
  background-color: var(--bright-green-color);
  padding: 3.5em 2.5em 3.5em 2.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  margin-bottom: 1em;
}

#inclusion-101 .plan-box .point:not(:first-child) {
  margin-top: 2em;
}

#inclusion-101 .plan-box .number {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  background: var(--dark-green-color);
  font-size: 1.4em;
  font-family: var(--title-font);
  color: var(--bright-green-color);
  text-align: center;
  line-height: 32px;
  margin-right: 0.75em;
}

#inclusion-101 .plan-box .text {
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2em;
}


/************************************/
/*     Inclusion 101 Quick Start    */
/************************************/

#inclusion-101 #start-section {
  width: 100%;
  background: linear-gradient(315deg, var(--dark-blue-color) 28%, var(--bright-blue-color) 28%);
  margin-top: 5em;
  color: var(--white-color);
}

#inclusion-101 #start-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#inclusion-101 #start-section .section-title {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

#inclusion-101 #start-section .text-section {
  font-size: 1em;
  font-weight: 400;
  max-width: 42em;
  width: 100%;
  color: var(--white-color);
}

#inclusion-101 .step-section .text-section {
  font-size: 1em;
  max-width: 40em;
  width: 100%;
  color: var(--black-color);
}

#inclusion-101 .section-title .icon {
  position: relative;
  font-family: var(--icon-font);
  font-size: 1.3em;
  margin-right: 0.3em;
}

#inclusion-101 .section-title .letter {  
  position: absolute;
  top: 26px;
  right: 4px;
  transform: skew(0deg, -30deg);
  font-family: var(--title-font);
  font-size: 0.3em;
  color: var(--white-color);
}

#inclusion-101 .resource-section {
  max-width: 26em;
  width: 100%;
}

#inclusion-101 #explore-section {
  width: 100%;
  background: linear-gradient(45deg, var(--dark-blue-color) 72%, var(--bright-blue-color) 72%);
  margin-top: 5em;
  color: var(--white-color);
}

#inclusion-101 #explore-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#inclusion-101 #explore-section .section-title {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

#inclusion-101 #explore-section .text-section {
  font-size: 1em;
  font-weight: 400;
  max-width: 42em;
  width: 100%;
  color: var(--white-color);
}

#inclusion-101 .explore-subsection {
  margin-bottom: 2em;
}

#inclusion-101 .explore-subsection .text-section {
  max-width: 38em;
  width: 100%;
}

#inclusion-101 .explore-subsection .text-section.narrow {
  max-width: 32em;
}

#inclusion-101 a.inline.explore-link {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1em;
}

#inclusion-101 img.slide-show {
  max-width: 600px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#inclusion-101 img.guide-preview {
  max-width: 480px;
  height: auto;
  -moz-box-sizng: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#inclusion-101 .coc-previews {
  max-width: 574px;
  width: 100%;
}

#inclusion-101 img.coc-preview {
  -moz-box-sizng: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: auto;
}

#inclusion-101 #end-section {
  width: 100%;
  background: linear-gradient(315deg, var(--dark-green-color) 34%, var(--bright-green-color) 34%);
  margin-top: 5em;
  color: var(--white-color);
}

#inclusion-101 #end-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#inclusion-101 #end-section .section-title {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

#inclusion-101 #end-section .text-section {
  font-size: 1em;
  font-weight: 400;
  max-width: 42em;
  width: 100%;
  color: var(--white-color);
}


/************************************/
/*     Inclusion 101 Resources      */
/************************************/

#inclusion-101 a.resource {
  max-width: 32em;
  margin-top: 2em;
  margin-right: 1em;
}

#inclusion-101 a.resource .icon {
  font-family: var(--icon-font);
  font-size: 4em;
  color: var(--bright-blue-color);
  min-width: 74px;
  text-align: center;
  margin-right: 0.1em;
}

#inclusion-101 a.resource .description {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--gray-color);
  line-height: 1.4em;
}

#inclusion-101 a.resource .title {
  font-weight: 500;
  line-height: 1.4em;
}

#inclusion-101 a.resource:hover .icon,
#inclusion-101 a.resource:hover .title {
  color: var(--bright-orange-color);
}

#inclusion-101 a.resource:active .icon,
#inclusion-101 a.resource:active .title {
  color: var(--bright-blue-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:72em) {
  #inclusion-101 .explore-subsection {
    margin-top: 1em;
  }
  
  #inclusion-101 .explore-subsection:not(.last) {
    margin-bottom: 4em;
  }
  
  #inclusion-101 .explore-subsection .text-section {
    margin-bottom: 2em;
  }
}

@media (max-width:70em) {
  #inclusion-101 .intro-section {
    margin-bottom: 2em;
  }
}

@media (max-width:48em) {
  #inclusion-101 #start-section .section-title {
    font-size: 2.8em;
  }
  
  #inclusion-101 .section-title .letter {  
    top: 20px;
    right: 3px;
  }
}

@media (max-width:34em) {
  #inclusion-101 .plan-box {
    padding: 2.5em 1.5em 2.5em 1.5em;
  }
  
  #inclusion-101 .plan-box .text {
    font-size: 1.2em;
    line-height: 1.1em;
  }
  
  #inclusion-101 .explore-subsection {
    margin-top: 0em;
  }
  
  #inclusion-101 .explore-subsection:not(.last) {
    margin-bottom: 3em;
  }
}