/************************************/
/*       Logo Guide Page Header     */
/************************************/

#logo-guide .page-header {
  background: url('/images/logo-guide-background.jpg') 50% 40% no-repeat;
  background-size: cover;
  height: 250px;
}

#logo-guide .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
}


/************************************/
/*       Logo Guide Page Body       */
/************************************/

#logo-guide .intro-section {
  max-width: 31em;
  width: 100%;
  font-size: 1.1em;
}

#logo-guide .logo-schematic img {
  width: 100%;
  max-width: 525px;
}

#logo-guide .downloadable-logo {
  padding: 1em 1.5em 1em 0.8em;
  text-align: center;
}

#logo-guide .downloadable-logo.white-background {
  border: 1px solid var(--light-gray-color);
}

#logo-guide .downloadable-logo.black-background {
  background-color: var(--black-color);
}

#logo-guide .downloadable-logo.green-background {
  background-color: var(--bright-green-color);
}

#logo-guide .downloadable-logo img {
  width: 100%;
  max-width: 360px;
}

#logo-guide .logo-links {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:70em) {
  #logo-guide .intro-section {
    margin-bottom: 2em;
  }
}