/************************************/
/*      Cert Validation Style       */
/************************************/

#backstage-container #cross_check_results {
  margin-top: 2em;
  font-family: var(--code-font);
  width: 100%;
  white-space: preserve nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#backstage-container .button#reset_validation_button {
  background-color: var(--gray-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:46em) {
  #backstage-container .validation-buttons {
    width: 100%;
  }

  #backstage-container .validation-buttons .button {
    width: 100%;
    margin-left: 0em !important;
    margin-top: 2em;
  }
}