/************************************/
/*      Cert Validation Style       */
/************************************/

#backstage-container #cross_check_subheading {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1em;
  margin-top: 2em;
}

#backstage-container form#validate_certs_form {
  margin-top: 1em;
}

#backstage-container form input#validate_certs_input_csv {
  margin-right: 1em;
  max-width: 16em;
}

#backstage-container form select#validate_certs_player_id_type {
  max-width: 14em;
  text-overflow: ellipsis;
}

#backstage-container form#validate_certs_form label.text-field.small {
  font-size: 0.8em;
}

#backstage-container #cross_check_instructions {
  margin-top: 0.5em;
  font-family: var(--body-font);
  font-size: 0.9em;
  width: 100%;
  white-space: wrap;
}

#backstage-container #cross_check_results {
  margin-top: 0.5em;
  font-family: var(--code-font);
  width: 100%;
  white-space: preserve nowrap;
  overflow: scroll;
}

#backstage-container .button#reset_validation_button {
  background-color: var(--gray-color);
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:52em) {
  #backstage-container .validation-buttons {
    width: 100%;
  }

  #backstage-container .validation-buttons .button {
    width: 100%;
    margin-left: 0em !important;
    margin-top: 2em;
  }
}