/**********************************************/
/*             Pagination Style               */
/**********************************************/

.pagination {
  margin-top: 3em;
  margin-bottom: 1em;
  color: var(--gray-color);
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.9em;
  white-space: nowrap;
}

.pagination .page.active,
.pagination .page.disabled,
.pagination .page a {
  padding: 0.5em 1em 0.5em 1em;
}

.pagination .page.active {
  font-style: normal;
  color: var(--light-black-color);
  font-weight: 600;
}

.pagination .page.disabled {
  font-style: normal;
  color: var(--light-gray-color);
}

.pagination .page a:hover {
  color: var(--bright-orange-color);
  text-decoration: none;
}

.pagination .page a:active {
  color: var(--bright-blue-color);
  text-decoration: none;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width: 44em) {
  .pagination .page.active,
  .pagination .page.disabled,
  .pagination .page a {
    padding: 0.5em;
  }
}
