/************************************/
/*        Pledge Page Header        */
/************************************/

#pledge .page-header {
  background: url('/images/pledge-header.jpg') 80% center no-repeat;
  background-size: cover;
}

#pledge #tapestry {
  background: var(--bright-green-color);
}

#pledge #tapestry:after {
  border-top: 50px solid var(--bright-green-color);
}

#pledge #tapestry .title-line-a {
  font-family: var(--title-font);
  color: var(--dark-green-color);
  font-size: 7.8em;
  margin-top: .9em;
}

#pledge #tapestry .title-line-b {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 3.2em;
  margin-top: .2em;
}


/************************************/
/*       Pledge Page Sections       */
/************************************/

#pledge .page-section .trailer-video {
  max-width: 32em;
  width: 100%;
  margin-left: 2em;
}

@media (max-width:60em) {
  #pledge .page-section .trailer-video {
    margin-bottom: 3em;
    margin-left: 0em;
    min-width: 30em;
  }
}

@media (max-width:34em) {
  #pledge .page-section .trailer-video {
    min-width: 16em;
  }
}