/************************************/
/*        Pledge Page Header        */
/************************************/

#pledge .page-header {
  background: url('/images/pledge-header.jpg') 80% center no-repeat;
  background-size: cover;
}

#pledge #tapestry {
  background: var(--bright-green-color);
}

#pledge #tapestry:after {
  border-top: 50px solid var(--bright-green-color);
}

#pledge #tapestry .title-line-a {
  font-family: var(--title-font);
  color: var(--dark-green-color);
  font-size: 7em;
  margin-top: .85em;
}

#pledge #tapestry .title-line-b {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 2.7em;
  margin-top: .2em;
  margin-bottom: 2.6em;
}

#pledge #tapestry .pledge-button {
  position: relative;
  display: inline-block;
  top: 45px;
  border: 5px solid var(--white-color);
  background-color: var(--dark-green-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.2em;
  padding: .3em .99em .5em .99em;
  margin-top: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

#pledge #tapestry .pledge-button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
}

#pledge #tapestry .pledge-button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#pledge #tapestry .pledge-button::-moz-focus-inner {
  border: 0 !important;
} 

#pledge #tapestry .pledge-button .detail-text {
  color: var(--bright-green-color);
  font-size: 0.8em;
  line-height: 1.5em;
  text-transform: none;  
}

#pledge #tapestry .pledge-button:hover .detail-text,
#pledge #tapestry .pledge-button:focus .detail-text {
  color: var(--white-color);
}



/************************************/
/*       Pledge Page Sections       */
/************************************/

#pledge .intro-section {
  max-width: 38em;
  width: 100%;
}

#pledge .trailer-video {
  max-width: 32em;
  width: 100%;
  margin-left: 2em;
}

#pledge .twitch-section {
  max-width: 52em;
  width: 100%;
}

#pledge .twitch-badge {
  margin-right: 2em;
  margin-bottom: 1em;
  width: 220px;
  height: 220px;
}

#pledge .twitch-badge img {
  width: 100%;
  height: auto;
}

#pledge #glhf-section {
  width: 100%;
  background: url('/images/pledge-background-a.jpg') 40% center no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#pledge #glhf-section .background-overlay {
  background-color: var(--transparent-overlay);
  width: 100%;
  height: 100%;
}

#pledge #glhf-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#pledge .promise-section {
  max-width: 38em;
  width: 100%;
  margin-right: 2em;
}

#pledge #glhf-section .section-title {
  text-shadow: var(--black-color) 0px 0px 20px;
}

#pledge .promise-list .promise:not(:first-child) {
  margin-top: 2em;
}

#pledge .promise-list .number {
  width: 29px;
  height: 29px;
  min-width: 29px;
  min-height: 29px;
  border-radius: 50%;
  background: var(--bright-green-color);
  border: 3px solid var(--white-color);
  font-size: 1.3em;
  font-family: var(--title-font);
  color: var(--dark-green-color);
  text-align: center;
  line-height: 32px;
  margin-right: 0.5em;
}

#pledge .promise-list .text {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 1.29em;
  line-height: 1.3em;
  text-shadow: var(--black-color) 0px 0px 20px;
}

#pledge .reporting-section {
  max-width: 38em;
  width: 100%;
  margin-right: 4em;
}

#pledge .report-button {
  border: 5px solid var(--light-gray-color);
  background-color: var(--dark-fuchsia-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.5em;
  padding: .75em 3em .75em 3em;
  margin-top: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

#pledge .report-button:hover {
  cursor: pointer;
  background-color: var(--bright-fuchsia-color);
}

#pledge .report-button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#pledge .report-button::-moz-focus-inner {
  border: 0 !important;
} 

#pledge .rules-section {
  max-width: 30em;
  width: 100%;
  font-size: 0.9em;
}

#pledge .page-section .rules-section p {
  font-size: 1em;
}

#pledge .rules-section ul {
  list-style-position: outside;
  font-size: 0.95em;
  line-height: 1.4em;
  margin-left: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 1em; 
}

#pledge #twitter-section {
  width: 100%;
  background: url('/images/pledge-background-b.jpg') 50% center no-repeat;
  background-size: cover;
  margin-top: 5em;
  color: var(--white-color);
}

#pledge #twitter-section .background-overlay {
  background-color: var(--transparent-overlay);
  width: 100%;
  height: 100%;
}

#pledge #twitter-section .page-section {
  margin-top: 5em;
  margin-bottom: 5em;
}

#pledge #twitter-section .section-title {
  text-shadow: var(--black-color) 0px 0px 20px;
  text-align: center;
}

#pledge #twitter-section .tweets {
  width: 100%;
}

#pledge #twitter-section twitter-widget.twitter-tweet {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0.5em;
  margin-right: 0.5em;  
}

#pledge .about-section {
  max-width: 40em;
  width: 100%;
  margin-right: 2em;
}

#pledge img.about-image {
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 408px;
  max-height: 248px;
  width: 95%;
  height: auto;
}


/************************************/
/*        Pledge Show Style         */
/************************************/

#pledge .button-wrap {
  width: 100%;
  margin-right: 1.4em;
  margin-left: 1.4em;
}

#pledge .twitch-button {
  border: 5px solid var(--dark-green-color);
  background-color: var(--bright-green-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.5em;
  padding: .75em 1.5em .75em 1.5em;
  margin-top: 2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

#pledge .twitch-button:hover {
  cursor: pointer;
  background-color: var(--bright-orange-color);
  border: 5px solid var(--dark-orange-color);
}

#pledge .twitch-button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);
  border: 5px solid var(--dark-blue-color);
  outline: none;
}

#pledge .twitch-button::-moz-focus-inner {
  border: 0 !important;
} 

#pledge .twitch-instructions {
  margin-top: 2em;
}

#pledge .twitch-instructions ol {
  list-style-position: outside;
  font-size: 0.95em;
  line-height: 1.4em;
  margin-left: 1em;
  margin-top: 0.4em;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:60em) {
  #pledge .intro-section {
    max-width: none;
    min-width: 30em;
  }
  
  #pledge .trailer-video {
    margin-bottom: 3em;
    margin-left: 0em;
    min-width: 30em;
  }
  
  #pledge .twitch-section {
    max-width: none;
    min-width: 16em;
  }
  
  #pledge .twitch-badge {
    width: 160px;
    height: 160px;
  }
  
  #pledge .promise-section {
    max-width: none;
    min-width: 30em;
  }
    
  #pledge .reporting-section {
    max-width: none;
    min-width: 30em;
    margin-right: 0em;
  }
  
  #pledge .rules-section {
    max-width: none;
    min-width: 30em;
    margin-top: 2em;
  }
  
  #pledge .about-section {
    max-width: none;
    min-width: 30em;
    margin-right: 0em;
  }
}

@media (max-width:48em) {
  #pledge #glhf-section {
    margin-top: 3em;
  }

  #pledge #glhf-section .page-section {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  #pledge #twitter-section {
    margin-top: 3em;
  }
  
  #pledge #twitter-section .page-section {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

@media (max-width:34em) {
  #pledge .intro-section {
    min-width: 16em;
  }
  
  #pledge .trailer-video {
    min-width: 16em;
  }
  
  #pledge .promise-section {
    min-width: 16em;
  }
  
  #pledge .reporting-section {
    min-width: 16em;
  }
  
  #pledge .rules-section {
    min-width: 16em;
  }
    
  #pledge #twitter-section twitter-widget.twitter-tweet {
    width: 340px !important;
  }
  
  #pledge .about-section {
    min-width: 16em;
  }
}

@media (max-width:30em) {
  #pledge .promise-list .text {
    font-size: 1.1em;
  }
  
  #pledge .report-button {
    font-size: 1.3em;
    padding: .75em 2em .75em 2em;
  }
  
  #pledge .twitch-button {
    font-size: 1.3em;
  }
}

@media (max-width:26em) {
  #pledge .report-button {
    font-size: 1.1em;
  }
  
  #pledge #twitter-section twitter-widget.twitter-tweet {
    width: 300px !important;
  }
  
  #pledge .twitch-button {
    font-size: 1.1em;
    padding: 1em .75em 1em .75em;
  }
}