/************************************/
/*       Report Page Sections       */
/************************************/

#report .page-section {
  max-width: 43em;
}


/************************************/
/*     Backstage Report Review      */
/************************************/
#report-screenshot {
  position: relative;
}

#report-screenshot #screenshot-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-overlay);
  color: var(--white-color);
  cursor: pointer;
}

#report-screenshot #screenshot-overlay .action {
  background-color: var(--white-overlay);
  font-family: var(--alt-title-font);
  font-weight: 400;
  font-size: 0.7em;
  text-align: center;
  color: var(--white-color);
  padding: 0.8em 1em 0.8em 1em;
}

#backstage-container .report-item {
  margin-top: 1.25em;
}

#backstage-container .report-item .item-title {
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

#backstage-container .report-item .item-text {
  font-size: 1em;
}

#backstage-container .report-item .item-text.small {
  font-size: 0.9em;
}

#backstage-container .report-buttons {
  margin-top: 2em;
}

#backstage-container .report-buttons .button {
  border: 4px solid var(--light-black-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.75em 1em 0.75em 1em;
  text-transform: uppercase;
  text-align: center;
  min-width: 4.5em;
  margin-left: 2em;
}

#backstage-container .report-buttons .button.dismiss-button {
  background-color: var(--gray-color);
}

#backstage-container .report-buttons .button.undismiss-button {
  background-color: var(--bright-green-color);
}

#backstage-container .report-buttons .button.warn-button {
  background-color: var(--bright-orange-color);
}

#backstage-container .report-buttons .button.revoke-button {
  background-color: var(--alert-red-color);
}

#backstage-container .report-buttons .button.resolved-button,
#backstage-container .report-buttons .button.resolved-button:hover,
#backstage-container .report-buttons .button.resolved-button:focus {
  cursor: default;
  background-color: var(--light-gray-color);
  border: 4px solid var(--dark-white-color);
  color: var(--gray-color);
}

#backstage-container .report-buttons .button:hover {
  cursor: pointer;
  background-color: var(--bright-blue-color);
}

#backstage-container .report-buttons .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#backstage-container .report-buttons .button::-moz-focus-inner {
  border: 0 !important;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:46em) {
  #backstage-container .report-buttons .button {
    width: 100%;
    margin-left: 0em;
    margin-top: 2em;
  }
  
  #backstage-container .report-buttons a.stealth {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--bright-green-color);
    margin-bottom: -2px;
  }
}
