/************************************/
/*       Report Page Sections       */
/************************************/

#report .page-section {
  max-width: 43em;
}


/************************************/
/*      Backstage Reports Panel     */
/************************************/

#backstage-container .reports-list {
  margin-top: 1em;
}

#backstage-container .report-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

#backstage-container .report-row.even {
  background: var(--medium-white-color);
}

#backstage-container .report-row.odd {
  background: var(--dark-white-color);
}

#backstage-container .report-row:hover {
  cursor: pointer;
  background: var(--orange-overlay); 
}

#backstage-container .report-row .row-title {
  font-weight: 500;
  margin-right: 1em;
}

#backstage-container .report-row .row-detail {
  font-size: 0.8em;
}


/************************************/
/*     Backstage Report Review      */
/************************************/
#report-screenshot {
  position: relative;
}

#report-screenshot #screenshot-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--transparent-overlay);
  color: var(--white-color);
  cursor: pointer;
}

#report-screenshot #screenshot-overlay .action {
  background-color: var(--white-overlay);
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 0.7em;
  text-align: center;
  color: var(--white-color);
  padding: 0.8em 1em 0.8em 1em;
}










#backstage-container .report-item {
  margin-top: 1.25em;
}

#backstage-container .report-item .item-title {
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

#backstage-container .report-item .item-text {
  font-size: 1em;
}

#backstage-container .report-item .item-text.small {
  font-size: 0.9em;
}

#backstage-container .button {
  border: 4px solid var(--light-black-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.75em 1em 0.75em 1em;
  text-transform: uppercase;
  text-align: center;
  min-width: 4.5em;
  margin-top: 2em;
  margin-right: 2em;
}

#backstage-container .button.dismiss-button {
  background-color: var(--bright-green-color);
}

#backstage-container .button.warn-button {
  background-color: var(--bright-orange-color);
}

#backstage-container .button.revoke-button {
  background-color: var(--alert-red-color);
}

#backstage-container .button:hover {
  cursor: pointer;
  background-color: var(--bright-blue-color);
}

#backstage-container .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#backstage-container .dismiss-button::-moz-focus-inner {
  border: 0 !important;
}


