/************************************/
/*        Report Form Style         */
/************************************/

#report form {
  border: 5px solid var(--dark-fuchsia-color);
  background: #f2f2f2;
  padding: 2em 2em 2.5em 2em;
}

#report form .title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
}

#report form .item {
  margin-bottom: 1.2em;
  width: 100%;
}

#report form .item.half-width {
  max-width: 17em;
}  

#report form label.text-field {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

#report form .description {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

#report form input.text-field {
  color: var(--black-color);
  background: var(--white-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.1em;
  border: 4px solid var(--dark-fuchsia-color);
  outline: none;
  padding: 0.8em 1em 0.7em 1em;
}

#report form input.text-field.small-font {
  font-size: 1em;
  padding: 0.9em 1em 0.8em 1em;
}

#report form input.text-field:hover {
  border: 4px solid var(--bright-orange-color);
}

#report form input.text-field:focus {
  border: 4px solid var(--bright-blue-color);
}

#report form input[type="text"]::-moz-placeholder,
#report form input[type="url"]::-moz-placeholder{
  color: var(--gray-color);
}

#report form input[type="text"]::-webkit-input-placeholder,
#report form input[type="url"]::-webkit-input-placeholder{
  color: var(--light-gray-color);
}

#report form textarea {
  color: var(--black-color);
  background: var(--white-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.2em;
  border: 4px solid var(--dark-fuchsia-color);
  outline: none;
  padding: 0.7em 0.6em 0.7em 0.6em;
  height: 6em;
  resize: none;
}

#report form textarea:hover {
  border: 4px solid var(--bright-orange-color);
}

#report form textarea:focus {
  border: 4px solid var(--bright-blue-color);
}

#report form select {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.1em;
  height: 3.2em;
  outline: none;
  border: 4px solid var(--dark-fuchsia-color);
  padding: 0.7em 0.6em 0.7em 0.6em;
}

#report form select:hover {
  border: 4px solid var(--bright-orange-color);
}

#report form select:focus {
  border: 4px solid var(--bright-blue-color);
}

#report form .flash {
  text-align: center;
  margin-top: 1em;
  font-size: 0.85em;
  color: var(--bright-fuchsia-color);
}

#report form .button {
  border: 5px solid var(--light-gray-color);
  background-color: var(--dark-fuchsia-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.5em;
  padding: .75em;
  margin-top: 1.5em;
  text-transform: uppercase;
}

#report form .button:hover {
  cursor: pointer;
  background-color: var(--bright-fuchsia-color);
}

#report form .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#report form .button::-moz-focus-inner {
  border: 0 !important;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:42em) {
  #report form .item.half-width {
    max-width: none;
  }
}
