/************************************/
/*      Resources Page Header       */
/************************************/

#resources .page-header {
  background: url('/images/resources-header.jpg') 80% center no-repeat;
  background-size: cover;
}

#resources #tapestry {
  background: var(--bright-blue-color);
}

#resources #tapestry:after {
  border-top: 50px solid var(--bright-blue-color);
}

#resources #tapestry .title-line-a {
  font-family: var(--title-font);
  color: var(--dark-blue-color);
  font-size: 3em;
  margin-top: 2.9em;
}

#resources #tapestry .title-line-b {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 2.7em;
  margin-top: .2em;
  margin-bottom: 2.95em;
}


/************************************/
/*       Resources Page Intro       */
/************************************/

#resources .intro-section {
  max-width: 34em;
  width: 100%;
  font-size: 1.2em;
}

#resources img.feature-image {
  max-width: 408px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:70em) {
  #resources .intro-section {
    margin-bottom: 2em;
  }
}