:root {
  --title-font:             'Nevis', 'Rubik';
  --alt-title-font:         'Rubik';
  --body-font:              'Gotham', 'Rubik';
  --icon-font:              'FontAwesomeBrands', 'FontAwesome', 'FontAwesomeSolid';
  --solid-icon-font:        'FontAwesomeSolid';
                            
  --black-color:            #160919;
  --light-black-color:      #2E2230;
  --gray-color:             #84848C;
  --light-gray-color:       #D0CED1;
  --dark-white-color:       #F3F2F3;
  --medium-white-color:     #FDFCFD;
  --white-color:            #FFFFFF;
                            
  --bright-green-color:     #2FC872;
  --dark-green-color:       #005E4A;
  --bright-orange-color:    #F5902C;
  --dark-orange-color:      #D1461C;
  --bright-blue-color:      #3887F9;
  --dark-blue-color:        #2026CC;
  --bright-fuchsia-color:   #B11478;
  --dark-fuchsia-color:     #57145B;
  
  --alert-red-color:        #DD1444;
                            
  --black-overlay:          rgba(22,9,25,0.6);
  --white-overlay:          rgba(255,255,255,0.6);
  --orange-overlay:         rgba(245,144,44,0.6);
  --blue-overlay:           rgba(56,135,249,0.6);

  --medium-orange-overlay:  rgba(245,144,44,0.4);
  --medium-blue-overlay:    rgba(56,135,249,0.4);

  --light-black-overlay:    rgba(22,9,25,0.4);
  --light-green-overlay:    rgba(47,200,114,0.2);
  --light-orange-overlay:   rgba(245,144,44,0.2);
  --light-blue-overlay:     rgba(56,135,249,0.2);
  --light-fuchsia-overlay:  rgba(177,20,120,0.2);
  --light-red-overlay:      rgba(221,20,68,0.2);

  --faint-fuchsia-overlay:  rgba(177,20,120,0.05);
}
