/************************************/
/*    Verification Page Sections    */
/************************************/

#verification .page-section {
  max-width: 43em;
}


/************************************/
/*  Backstage Verification Review   */
/************************************/

#backstage-container .verification-item {
  margin-top: 1.25em;
  width: 100%;
}

#backstage-container .verification-item.half-width {
  max-width: 17em;
}

#backstage-container .verification-item .item-title {
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

#backstage-container .verification-item .item-text {
  font-size: 1em;
}

#backstage-container .verification-item .item-text.empty {
  color: var(--light-gray-color);
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 0.3em;
}

#backstage-container .verification-item .item-text.small {
  font-size: 0.9em;
}

#backstage-container .verification-item .item-text svg {
  height: 1em;
  margin-right: 0.4em;
}


/************************************/
/*  Backstage Verification Overlays */
/************************************/

#verification-photo-id,
#verification-doctors-note {
  position: relative;
}

#verification-photo-id #photo-id-overlay,
#verification-doctors-note #doctors-note-overlay  {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-overlay);
  color: var(--white-color);
  cursor: pointer;
}

#verification-photo-id #photo-id-overlay .action,
#verification-doctors-note #doctors-note-overlay .action {
  background-color: var(--white-overlay);
  font-family: var(--alt-title-font);
  font-weight: 400;
  font-size: 0.7em;
  text-align: center;
  color: var(--white-color);
  padding: 0.8em 1em 0.8em 1em;
}


/************************************/
/*  Backstage Verification Buttons  */
/************************************/

#backstage-container .verification-buttons {
  margin-top: 2em;
}

#backstage-container .verification-buttons .button {
  border: 4px solid var(--light-black-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.75em 1em 0.75em 1em;
  text-transform: uppercase;
  text-align: center;
  min-width: 4.5em;
  margin-left: 2em;
}

#backstage-container .verification-buttons .button.ignore-button {
  background-color: var(--gray-color);
}

#backstage-container .verification-buttons .button.unignore-button {
  background-color: var(--bright-green-color);
}

#backstage-container .verification-buttons .button.deny-button {
  background-color: var(--alert-red-color);
}

#backstage-container .verification-buttons .button.verify-button {
  background-color: var(--bright-green-color);
}

#backstage-container .verification-buttons .button.reviewed-button,
#backstage-container .verification-buttons .button.reviewed-button:hover,
#backstage-container .verification-buttons .button.reviewed-button:focus {
  cursor: default;
  background-color: var(--light-gray-color);
  border: 4px solid var(--dark-white-color);
  color: var(--gray-color);
}

#backstage-container .verification-buttons .button:hover {
  cursor: pointer;
  background-color: var(--bright-blue-color);
}

#backstage-container .verification-buttons .button:focus {
  cursor: pointer;
  background-color: var(--bright-blue-color);  
  outline: none;
}

#backstage-container .verification-buttons .button::-moz-focus-inner {
  border: 0 !important;
}


/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:46em) {
  #backstage-container .verification-buttons .button {
    width: 100%;
    margin-left: 0em;
    margin-top: 2em;
  }
  
  #backstage-container .verification-buttons a.stealth {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--bright-green-color);
    margin-bottom: -2px;
  }
}

