/************************************/
/*     Work With Us Page Header     */
/************************************/

#work-with-us .page-header {
  background: url('/images/work-with-us-background.jpg') 50% 45% no-repeat;
  background-size: cover;
  height: 250px;
}

#work-with-us .page-header .title {
  margin-left: 1.4em;
  color: var(--white-color);
  text-shadow: var(--black-color) 0px 0px 30px;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 3em;
}


/************************************/
/*     Work With Us Page Intro      */
/************************************/

#work-with-us .intro-section {
  max-width: 34em;
  width: 100%;
  font-size: 1.2em;
}

#work-with-us .feature-image {
  max-width: 408px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}