<div class="flexbox horizontal end wrap-reverse justify-space-between">
  <div class="report-item flush-top flexbox vertical stretch flex-1" style="margin-top: 1em">
    <div class="item-title flexbox horizontal center"><%= image_tag("/images/anykey-cap.svg") %> Reported Pledger</div>
    <% if @pledge.present? %>
    <div class="item-list"><%= render(partial: "pledges/row", locals: { pledge: @pledge } ) %></div>
    <% else %>
    <div class="item-text empty">No pledge found for the reported Twitch user.</div>
    <% end %>
  </div>
</div>
