<div class="comment-row flexbox vertical stretch" >
  <div class="flexbox horizontal wrap center">
    <div class="comment-avatar-container" class="flexbox vertical end">
      <%= image_tag(user_image_src(comment.commenter, :tiny), size: "28x28", class: "comment-avatar flexbox center") %></div>
    <div class="row-name"><%= comment.commenter.first_name %></div>
    <div class="row-detail"><%= comment.body %></div>
  </div>
</div>
