<title>Badge Abuse Report | AnyKey</title>
<meta name="description" content="File a report if you have seen someone with the AnyKey badge causing trouble in a stream and our ComfyCrew will review the situation.">
<meta name="keywords" content="esports, gaming, live streaming, diversity, inclusion, equity">

<meta property="og:title"        content="Badge Abuse Report | AnyKey">
<meta property="og:site_name"    content="AnyKey">
<meta property="og:url"          content="<%= root_url %>">
<meta property="og:description"  content="File a report if you have seen someone with the AnyKey badge causing trouble in a stream and our ComfyCrew will review the situation.">
<meta property="og:type"         content="website">

<meta name="twitter:title"       content="Badge Abuse Report | AnyKey">
<meta name="twitter:url"         content="<%= root_url %>">
<meta name="twitter:description" content="File a report if you have seen someone with the AnyKey badge causing trouble in a stream and our ComfyCrew will review the situation.">