<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch" data-url="<%= report_path(report, back: request.fullpath) %>">
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="row-title"><%= report.reported_twitch_name %></div>
    <div class="flexbox horizontal center wrap justify-space-between">
      <div class="row-detail"><%= l(report.created_at, format: "%b. %-d, %Y · %-l:%M%P ") %></div>
      <% if report.revoked %>
      <div class="row-status revoked">Revoked</div>
      <% elsif report.warned %>
      <div class="row-status warned">Warned</div>
      <% elsif report.dismissed %>
      <div class="row-status dismissed">Dismissed</div>
      <% else %>
      <div class="row-status unresolved">Unresolved</div>
      <% end %>
    </div>
  </div>
</div>
