<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Reports</div>
        <div class="panel-filters flexbox horizontal center wrap">
          <% Report::AVAILABLE_SCOPES.each do |filter| %>
            <% if @filter_category.to_s == filter[0].to_s %>
              <%= link_to("#{filter[1]} [#{@reports.count}]", reports_path(f: filter[0]), class: "filter selected") %>
            <% else %>
             <%= link_to(filter[1], reports_path(f: filter[0]), class: "filter") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="reports-list flexbox vertical stretch">
        <% if @reports.present? %>
        <%= render(partial: "reports/row", collection: @reports, as: :report) %>
        <% else %>
        <div class="empty">
          No reports found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
