<div id="report" class="flexbox vertical center">
  <div class="page-section two-thirds flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
        <%= render(partial: "reports/form") %>
    </div>
  </div>
</div>  
