<div id="report" class="flexbox vertical center">
  <div class="page-section two-thirds flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title">
        File a report
      </div>
      <div class="flexbox vertical stretch">
        <%= render(partial: "reports/form") %>
      </div>
    </div>
  </div>
</div>  
