<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <% if @report.unresolved? %>
      <%= render(partial: "reports/show_unresolved") %>
      <% elsif @report.dismissed? %>
      <%= render(partial: "reports/show_dismissed") %>
      <% elsif @report.warned? %>
      <%= render(partial: "reports/show_warned") %>
      <% elsif @report.revoked? %>
      <%= render(partial: "reports/show_revoked") %>
      <% end %>
    </div>
  </div>
</div>
