<p>Hello <%= @resource.email %>!</p>

<p>If you need to reset your password, click the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this email, just ignore it and your password won't change.</p>
